.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.6em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width: 50%;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#6f6f6f;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:White;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: white;
}
.div-border{
  border-top: 0.5px solid #c3c3c3;
  margin-top: 15px;
}
.history-tl-container{
  width: 50%;
}
.history-tl-container ul.tl{
  padding:0;
  display:inline-block;

}
.history-tl-container ul.tl li{
  list-style: none;
  margin:auto;
  margin-left:145px;
  min-height:10px;
  /*background: rgba(255,255,0,0.1);*/
  border-left:1px dashed #414141;
  padding: 0 0 20px 12px;
  position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
  position: absolute;
  left: -8px;
  top: 0px;
  content: " ";
  border: 2px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #414141;
  height: 12px;
  width: 12px;
  transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
  border-color:  #414141;
  transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
  color:rgba(0,0,0,0.5);
  font-size:12px;
}
ul.tl li .timestamp{
  color: #8D8D8D;
  position: absolute;
  font-size: 12px;
}
.custom-shadow-temp.mat-card {
  box-shadow: none !important;
}
