.color-white{
  color: white;
}
.font-size-20 {
  font-size: 20px;
}
.header {
  height: 100px;
  background: #2c3d73;
}
.mat-dialog-container {
 padding: 0px;
}
.star-rating {
  margin-top: 10px;
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width: 70%;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}
