.gl-overlay {
  background: #333;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 9;
}
.temp-container {
  height: 80vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.gl-loading-msg-pstn {
  position:absolute;
  top:45%;
  left:46%;
}
.gl-dot-loader {
  display:inline-block;
  font-size:0px;
  padding:0px;
}
.gl-dot-loader span {
  vertical-align:middle;
  border-radius:100%;

  display:inline-block;
  width:15px;
  height:15px;
  margin:5px 3px;
  -webkit-animation:gl-dot-loader 0.8s linear infinite alternate;
  animation:gl-dot-loader 0.8s linear infinite alternate;
}
.gl-dot-loader span:nth-child(1) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(2) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(4) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background: #3f51b5;

}
.gl-dot-loader span:nth-child(5) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
  background:#3f51b5;
}

.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
   font-weight: normal;
 }
.temp-padding-inside {
  padding-top: 40px;
  padding-bottom: 40px;
}
.label-left-color{
  color: #424242;
}
.label-right-color{
  color: #292929;
}
.margin-top-5{
  margin-top:5px;
}
label[contenteditable="true"]:hover {
  border: 1px solid #ff9292;
  border-style: dotted;
}
label[contenteditable="true"] {
  padding: 3px;
  outline: none;
}
.cr-pointer{
  cursor: pointer;
}
.menu-spacer {
  flex: 1 1 auto;
}
.color-white{
  color: #ffffff;
}
.margin-top-15{
  margin-top:15px;
}
.margin-top-10{
  margin-top: 10px;
}
[contenteditable="true"]:active .alias-edit-div,
[contenteditable="true"]:focus .alias-edit-div{
  display:none !important;
}
 .mat-menu-content {
  padding: 15px;
}
.margin-top-bottom {
  margin-top: 6px;
  margin-bottom: 8px;
}
.mat-card.padding-0{
  padding: 0px;
}
