.gl-overlay {
  background: #333;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 9;
}
.temp-container {
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  background: #525659;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.gl-loading-msg-pstn {
  position:absolute;
  top:45%;
  left:46%;
}
.gl-dot-loader {
  display:inline-block;
  font-size:0px;
  padding:0px;
}
.gl-dot-loader span {
  vertical-align:middle;
  border-radius:100%;

  display:inline-block;
  width:15px;
  height:15px;
  margin:5px 3px;
  -webkit-animation:gl-dot-loader 0.8s linear infinite alternate;
  animation:gl-dot-loader 0.8s linear infinite alternate;
}
.gl-dot-loader span:nth-child(1) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(2) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
  background: #3f51b5;
}
.gl-dot-loader span:nth-child(4) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background: #3f51b5;

}
.gl-dot-loader span:nth-child(5) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
  background:#3f51b5;
}

.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
   font-weight: normal;
 }
.temp-padding-inside {
  padding-top: 40px;
  padding-bottom: 40px;
}
.label-left-color{
  color: #424242;
}
.label-right-color{
  color: #292929;
}
.margin-top-5{
  margin-top:5px;
}
label[contenteditable="true"] {
  min-height: 1em;
  display: inline-block;
  position: relative;
  outline: none;
  white-space: pre-line;
}
//label[contenteditable="true"]:hover {
//  border: 1px solid #ff9292;
//  border-style: dotted;
//}
//
//label[contenteditable="true"]:focus {
//  border: 1px solid #ff9292;
//  border-style: dotted;
//  cursor: text;
//}
.cr-pointer{
  cursor: pointer;
}
.menu-spacer {
  flex: 1 1 auto;
}
.color-white{
  color: #ffffff;
}
.margin-top-15{
  margin-top:15px;
}
.margin-top-10{
  margin-top: 10px;
}
[contenteditable="true"]:active .alias-edit-div,
[contenteditable="true"]:focus .alias-edit-div{
  display:none !important;
}
 .mat-menu-content {
  padding: 15px;
}
.margin-top-bottom {
  margin-top: 6px;
  margin-bottom: 8px;
}
.mat-card.padding-0{
  padding: 0px;
}

#outerContainer#mainContainer.toolbar {
  display: none !important; /* hide PDF viewer toolbar */
}
#outerContainer #mainContainer #viewerContainer {
  top: 0 !important; /* move doc up into empty bar space */
}
#outerContainer {
  display: none;
}
.m-b-0{
  margin-bottom: 0px;
}
.m-t-0{
  margin-top: 0px;
}
.m-l-0{
  margin-left: 0px;
}
.m-r-0{
  margin-right: 0px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#3f51b5;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#3f51b5;
  background-color:#3f51b5;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:transparent;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #3f51b5;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #3f51b5 !important;
}
[contenteditable=true]:empty::before {
  content: attr(placeholder);
  color: #949494;
}
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #949494;
}
.chakra-color {
  color: #000080;
}
.card {
  width: 300px;
  border-radius: 10px;
  padding: 10px 20px 40px 20px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 30px;
}
.card2 {
  background: linear-gradient(to bottom right, #5f6cce, #202960);
}
.card h3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card label {
  color: white;
  font-size: 30px;
  margin-top: 0px;
}

.card h2 {
  color: rgba(255, 255, 255, 0.15);
  font-size: 38px;
  font-weight: 900;
  position: absolute;
  margin-left: -6px;
  pointer-events: none;
}

.card hr {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  margin-top: 30px;
  margin-bottom: 10px;
}

.card p:first-of-type {
  margin-top: 20px;
}

.card p {
  color: white;
  font-size: 15px;
}

.card p:nth-of-type(9) {
  margin-bottom: 35px;
}

.card a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 35px 11px 35px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 40px;
  border-radius: 6px;
  transition: background-color 0.5s;
}

.card a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.position-relative {
  position: relative;
}
.foot-link {
  color: #8495a6;
  margin-bottom: 8px;
}
.social-link {
  padding: 10px;
  background: #1f2861;
  border-radius: 50%;
  cursor: pointer;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.mat-toolbar{
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.nav-list {
  padding: 10px 60px 10px 60px;
}
.step-1-img{
  width: 180px;
  opacity: 0.7;
}
.step-2-img{
  width: 120px;
  opacity: 0.7;
}
.step-3-img{
  width: 100px;
  opacity: 0.7;
}
.position-relative {
  position: relative;
}
.foot-link {
  color: #8495a6;
  margin-bottom: 8px;
}
.social-link {
  padding: 10px;
  background: #1f2861;
  border-radius: 50%;
  cursor: pointer;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.font-weight-semi-bold {
  font-weight: 500;
}
.line-height-1-4 {
  line-height: 1.4;
}
.page-break-1 {
  position: absolute;
  top: 1056px;
  width: 99%;
  height: 0px;
  left: 0px;
  right: 0px;
  border: 4px solid #525659;
}










section {
  width: 90%;
  margin: 70px auto;

}

/* Simple Slider */
.white-back{
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background: #fff;
}
.simple blockquote p {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #1f2641;
  padding: 25px;
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}
.simple cite {
  font-size: 1em;
  float: right;
  font-style: normal;
  color: #1e528e;
}
.simple cite a {
  color: #2d91c2;
  font-style: italic;
  text-decoration: none;
  font-size:.85em;
}
.simple cite a:hover {
  color: #00B4CC;
}
/* A custom cursor to let folks know they can drag things */
/* Bubble Slider */

.bubble blockquote {
  margin: 10px 10px 0;
  background: #fff;
  padding: 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-size: 1.15em;
  color: #1e528e;
  height: 75px;
}
.bubble blockquote:before, .bubble blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  padding: 10px;
  line-height: 1;
  color: #1e528e;
}
.bubble blockquote:before {
  top: 0;
  left: 10px;
}
.bubble blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -.5em;
}
.bubble div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  margin: 0 0 0 60px;
  margin-bottom: 10px;
}
.bubble cite {
  padding-left: 20px;
  font-size: 1.05em;
  color:#f7f7f7;
}
.font-size-16px{
  font-size: 16px;
}

.bg  {background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);width:100%;height:100%;position:absolute;}
.temp-move {
  display: none;
}
.temp:hover .temp-move {
  display: block;
}
.temp-move-opacity {
  opacity: 0.6;
}
.fa-arrow {
  position: relative;
  font-size: 20px;
}
.scroll-y {
  overflow-y: scroll;
  padding: 10px;
  background: #525659;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.text-color-gray {
  color: #545454;
}
