<div fxLayout="row">
  <mat-card fxFlex="100%" class="padding-0 custom-shadow-temp">
    <div>
      <div class="page-break-1" *ngIf="pageType!='single' && !coreDataService.hideSeparater"></div>
      <div fxLayout="row">
        <div fxFlex="35%" [ngStyle]="{'background': coreDataService.templateData.templateTheme, 'height':pageHeight}" style="padding-left: 10px">
          <div fxLayout="row" style="padding-top: 25px">
            <div fxFlex="100%" style="padding-left: 10px">
              <label #title [textContent]="coreDataService.templateData.title" (blur)="coreDataService.templateData.title = title.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.titleSize+'px', 'color': setTextColor(coreDataService.templateData.templateTheme), 'font-family': coreDataService.templateData.fontFamily}" placeholder="Full Name">{{coreDataService.templateData.title}}</label>
            </div>
          </div>
          <div fxLayout="row"  style="padding: 10px" *ngIf="coreDataService.templateData.role != null && coreDataService.templateData.role != ''">
            <div fxFlex="100%">
              <label #role contenteditable="false" spellcheck="true" [textContent]="coreDataService.templateData.role" (blur)="coreDataService.templateData.role = role.innerText" [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'color': setTextColor(coreDataService.templateData.templateTheme), 'font-family': coreDataService.templateData.fontFamily}" placeholder="Job's Title">{{coreDataService.templateData.role}}</label>
            </div>
          </div>
          <div fxLayout="row"  style="padding: 20px 10px 10px 10px">
            <div fxFlex="10%">
              <i class="fa fa-envelope" [ngStyle]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></i>&nbsp;&nbsp;
            </div>
            <div fxFlex="80%" style="word-break: break-all">
              <label #email [textContent]="coreDataService.templateData.email" (blur)="coreDataService.templateData.email = email.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color" placeholder="johndoe@gmail.com">{{coreDataService.templateData.email}}</label>
            </div>
          </div>
          <div fxLayout="row" style="padding: 10px">
            <div fxFlex="100%">
              <i class="fa fa-phone" [ngStyle]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></i>&nbsp;&nbsp;
              <label #phone [textContent]="coreDataService.templateData.phone" (blur)="coreDataService.templateData.phone = phone.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color" placeholder="1234567890">{{coreDataService.templateData.phone}}</label>
            </div>
          </div>
          <div fxLayout="row" style="padding: 10px" *ngIf="coreDataService.templateData.address != null && coreDataService.templateData.address != ''">
            <div fxFlex="10%">
              <i class="fa fa-map-marker" [ngStyle]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></i>&nbsp;&nbsp;
            </div>
            <div fxFlex="80%">
              <label #address [textContent]="coreDataService.templateData.address" (blur)="coreDataService.templateData.address = address.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color" placeholder="Your Address">{{coreDataService.templateData.address}}</label>
            </div>
          </div>
          <div fxLayout="row" style="padding: 10px" *ngIf="coreDataService.templateData.gitHub != null && coreDataService.templateData.gitHub != ''">
            <div fxFlex="10%">
              <img src="assets/images/github-white.svg" width="14px" *ngIf="setTextColor(coreDataService.templateData.templateTheme) == '#FFFFFF'"/>
              <img src="assets/images/github.svg" width="14px" *ngIf="setTextColor(coreDataService.templateData.templateTheme) != '#FFFFFF'"/>&nbsp;&nbsp;
            </div>
            <div fxFlex="80%" style="word-break: break-all">
              <label #git [textContent]="coreDataService.templateData.gitHub" (blur)="coreDataService.templateData.gitHub = git.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color" placeholder="GitHub link">{{coreDataService.templateData.gitHub}}</label>
            </div>
          </div>
          <div fxLayout="row" style="padding: 10px" *ngIf="coreDataService.templateData.linkedIn != null && coreDataService.templateData.linkedIn != ''">
            <div fxFlex="10%">
              <img src="assets/images/linkedin-white.svg" width="14px" *ngIf="setTextColor(coreDataService.templateData.templateTheme) == '#FFFFFF'"/>
              <img src="assets/images/linkedin.svg" width="14px" *ngIf="setTextColor(coreDataService.templateData.templateTheme) != '#FFFFFF'"/>
            </div>
            <div fxFlex="80%" style="word-break: break-all">
              <label #linked [textContent]="coreDataService.templateData.linkedIn" (blur)="coreDataService.templateData.linkedIn = linked.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color" placeholder="LinkedIn">{{coreDataService.templateData.linkedIn}}</label>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': educationMargin + 'px'}" *ngIf="coreDataService.templateData.education" class="temp">
            <div fxFlex="60%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color font-weight-bold" style="margin-left: 15px;">EDUCATION</label>
            </div>
            <div fxFlex="35%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveEducation('top')" [ngClass]="{'temp-move-opacity': educationMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveEducation('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.education">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.education">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let eduInfo of coreDataService.templateData.educationInfo; let i = index" style="padding: 10px">
                <div fxFlex="100%" style="line-height: 1.4">
                  <div>
                    <label contenteditable="false" spellcheck="true" #sdept [textContent]="coreDataService.templateData.educationInfo[i].department" (blur)="coreDataService.templateData.educationInfo[i].department = sdept.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-weight-bold" placeholder="Your major/Name of your course">{{eduInfo.department}}</label><br/>
                  </div>
                  <div>
                    <label contenteditable="false" spellcheck="true" #sname [textContent]="coreDataService.templateData.educationInfo[i].schoolName" (blur)="coreDataService.templateData.educationInfo[i].schoolName = sname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" maxlength="50" placeholder="Full name of University/Organization">{{eduInfo.schoolName}}</label><br/>
                  </div>
                  <div class="margin-top-5" *ngIf="eduInfo.gpa!=null && eduInfo.gpa!=''">
                    <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}">GPA:&nbsp;</label>
                    <label contenteditable="false" spellcheck="true" #sgpa [textContent]="coreDataService.templateData.educationInfo[i].gpa" (blur)="coreDataService.templateData.educationInfo[i].gpa = sgpa.innerText" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" placeholder="GPA, some subject">{{eduInfo.gpa}}</label><br/>
                  </div>
                  <div class="margin-top-5">
                    <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.educationInfo[i].yearFromTo" (blur)="coreDataService.templateData.educationInfo[i].yearFromTo = year.innerText" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-size-15 text-color-gray" placeholder="From - To/Present">{{eduInfo.yearFromTo}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': skillsMargin + 'px'}" *ngIf="coreDataService.templateData.skills" class="temp">
            <div fxFlex="60%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color font-weight-bold" style="margin-left: 15px;">SKILLS</label>
            </div>
            <div fxFlex="35%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveSkills('top')" [ngClass]="{'temp-move-opacity': skillsMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveSkills('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.skills">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.skills">
            <div fxFlex="100%">
              <ul>
                <li *ngFor="let techSkills of coreDataService.templateData.technicalSkills; let i = index" style="margin-top: 7px; padding-left:0px" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-size-15"><label contenteditable="false" spellcheck="true" #csLang [textContent]="coreDataService.templateData.technicalSkills[i].skill" (blur)="coreDataService.templateData.technicalSkills[i].skill = csLang.innerText" placeholder="New Skills">{{techSkills.skill}}</label></li>
              </ul>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': techMargin + 'px'}" *ngIf="coreDataService.templateData.tech" class="temp">
            <div fxFlex="60%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color font-weight-bold" style="margin-left: 15px;">SOFTWARE</label>
            </div>
            <div fxFlex="35%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveTechSkills('top')" [ngClass]="{'temp-move-opacity': techMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveTechSkills('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.tech">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.tech">
            <div fxFlex="100%">
              <ul>
                <li *ngFor="let compSkills of coreDataService.templateData.computerSkills; let i = index" style="margin-top: 7px; padding-left:0px" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-size-15"><label contenteditable="false" spellcheck="true" #compLang [textContent]="coreDataService.templateData.computerSkills[i].skill" (blur)="coreDataService.templateData.computerSkills[i].skill = compLang.innerText" placeholder="New Skills">{{compSkills.skill}}</label></li>
              </ul>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': langMargin + 'px'}" *ngIf="coreDataService.templateData.language" class="temp">
            <div fxFlex="60%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color font-weight-bold" style="margin-left: 15px;">LANGUAGES</label>
            </div>
            <div fxFlex="35%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveLangSkills('top')" [ngClass]="{'temp-move-opacity': langMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveLangSkills('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.language">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.language">
            <div fxFlex="100%">
              <ul>
                <li *ngFor="let langSkills of coreDataService.templateData.knownLanguage; let i = index" style="margin-top: 7px; padding-left:0px" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-size-15"><label contenteditable="false" spellcheck="true" #lngLang [textContent]="coreDataService.templateData.knownLanguage[i].skill" (blur)="coreDataService.templateData.knownLanguage[i].skill = lngLang.innerText" placeholder="New Language">{{langSkills.skill}}</label></li>
              </ul>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': interestMargin + 'px'}" *ngIf="coreDataService.templateData.interest" class="temp">
            <div fxFlex="60%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="label-right-color font-weight-bold" style="margin-left: 15px;">INTERESTS</label>
            </div>
            <div fxFlex="35%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveInterest('top')" [ngClass]="{'temp-move-opacity': interestMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveInterest('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.interest">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.interest">
            <div fxFlex="100%">
              <div fxLayout="row">
                <ul fxFlex="100%" style="margin-top:5px;margin-bottom:5px;">
                  <li *ngFor="let interest of coreDataService.templateData.interestOn; let i = index" style="margin-top: 7px;" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': setTextColor(coreDataService.templateData.templateTheme)}" class="font-size-15"><label contenteditable="false" spellcheck="true" #intst [textContent]="coreDataService.templateData.interestOn[i]" (blur)="coreDataService.templateData.interestOn[i] = intst.innerText" placeholder="New Interest">{{interest}}</label></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="65%" id="template-container">
          <div fxLayout="row" [ngStyle]="{'margin-top': summaryMargin + 'px'}" *ngIf="coreDataService.templateData.objective" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">SUMMARY</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveSummary('top')" [ngClass]="{'temp-move-opacity': summaryMargin == 25}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveSummary('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
            <div fxFlex="95%" style="margin-left:15px;">
              <label #objectiveMsg [textContent]="coreDataService.templateData.objectiveMsg" (blur)="coreDataService.templateData.objectiveMsg = objectiveMsg.innerText"  contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="line-height-1-4" placeholder="Fill in your Career’s Objective">{{coreDataService.templateData.objectiveMsg}}</label>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': workExpMargin + 'px'}" *ngIf="coreDataService.templateData.workExp" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">WORK EXPERIENCE</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveWorkExp('top')" [ngClass]="{'temp-move-opacity': workExpMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveWorkExp('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
            <div fxFlex="97%">
                <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let companyInfo of coreDataService.templateData.companyInfo; let i = index" style="margin-top: 12px; margin-left: 15px;">
                <div fxFlex="97%">
                  <div>
                    <label contenteditable="false" spellcheck="true" #crole [textContent]="coreDataService.templateData.companyInfo[i].role" (blur)="coreDataService.templateData.companyInfo[i].role = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" placeholder="Job position">{{companyInfo.role}}</label><br/>
                  </div>
                  <div class="margin-top-5">
                    <label contenteditable="false" spellcheck="true" #cname [textContent]="coreDataService.templateData.companyInfo[i].companyName" (blur)="coreDataService.templateData.companyInfo[i].companyName = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}"  maxlength="50" placeholder="Name of your company">{{companyInfo.companyName}}</label><span>&nbsp;/&nbsp;</span>
                    <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.companyInfo[i].workFromTo" (blur)="coreDataService.templateData.companyInfo[i].workFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="From - To/Present">{{companyInfo.workFromTo}}</label>
                  </div>
                  <div *ngFor="let summary of coreDataService.templateData.companyInfo[i].details; let k = index" class="margin-top-5" fxLayout="row">
                    <div fxFlex="3%"><label>-</label></div>
                    <div fxFlex="97%">
                      <label contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.companyInfo[i].details[k]" (blur)="coreDataService.templateData.companyInfo[i].details[k] = csumm.innerText" placeholder="Job's professional history, key experience and achievements" class="line-height-1-4 text-color-gray">{{summary}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': certificateMargin + 'px'}" *ngIf="coreDataService.templateData.certifications" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">CERTIFICATIONS</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveCertificates('top')" [ngClass]="{'temp-move-opacity': certificateMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveCertificates('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let certifiInfo of coreDataService.templateData.certificates; let i = index" class="margin-top-15">
                <div fxFlex="25%">
                  <label contenteditable="false" spellcheck="true" #cfyear [textContent]="coreDataService.templateData.certificates[i].year" (blur)="coreDataService.templateData.certificates[i].year = cfyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="Year">{{certifiInfo.year}}</label>
                </div>
                <div fxFlex="70%">
                  <div>
                    <label contenteditable="false" spellcheck="true" #cfname [textContent]="coreDataService.templateData.certificates[i].certificateName" (blur)="coreDataService.templateData.certificates[i].certificateName = cfname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" maxlength="50" placeholder="Areas of certification relevant to the position">{{certifiInfo.certificateName}}</label><br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': honorMargin + 'px'}" *ngIf="coreDataService.templateData.honorReward" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">HONOR & AWARDS</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveHonor('top')" [ngClass]="{'temp-move-opacity': honorMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveHonor('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let rewardInfo of coreDataService.templateData.honorAwardInfo; let i = index" class="margin-top-15" style="margin-left: 15px;">
                <div fxFlex="23%">
                  <label contenteditable="false" spellcheck="true" #rwyear [textContent]="coreDataService.templateData.honorAwardInfo[i].year" (blur)="coreDataService.templateData.honorAwardInfo[i].year = rwyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15 text-color-gray" placeholder="Year">{{rewardInfo.year}}</label>
                </div>
                <div fxFlex="70%">
                  <div>
                    <label contenteditable="false" spellcheck="true" #rwname [textContent]="coreDataService.templateData.honorAwardInfo[i].award" (blur)="coreDataService.templateData.honorAwardInfo[i].award = rwname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}"  maxlength="50" placeholder="Sample award's title">{{rewardInfo.award}}</label><br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': activityMargin + 'px'}" *ngIf="coreDataService.templateData.activities" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">ACTIVITIES</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveActivity('top')" [ngClass]="{'temp-move-opacity': activityMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveActivity('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.activities">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.activities">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let activityInfo of coreDataService.templateData.activitiesInfo; let i = index" class="margin-top-15" style="margin-left: 15px;">
                <div fxFlex="97%">
                  <div>
                    <label contenteditable="false" spellcheck="true" #cname [textContent]="coreDataService.templateData.activitiesInfo[i].role" (blur)="coreDataService.templateData.activitiesInfo[i].role = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Sample Position">{{activityInfo.role}}</label><br/>
                  </div>
                <div class="margin-top-5">
                  <label contenteditable="false" spellcheck="true" #crole [textContent]="coreDataService.templateData.activitiesInfo[i].place" (blur)="coreDataService.templateData.activitiesInfo[i].place = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="ACTIVITY ORGANIZATION">{{activityInfo.place}}</label><span>&nbsp;/&nbsp;</span>
                  <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.activitiesInfo[i].year" (blur)="coreDataService.templateData.activitiesInfo[i].year = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="Year">{{activityInfo.year}}</label>
                  </div>
                  <div *ngFor="let summary of coreDataService.templateData.activitiesInfo[i].summary; let k = index" class="margin-top-5" fxLayout="row">
                    <div fxFlex="3%"><label>-</label></div>
                    <div fxFlex="97%">
                      <label contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.activitiesInfo[i].summary[k]" (blur)="coreDataService.templateData.activitiesInfo[i].summary[k] = csumm.innerText" placeholder="Sample activities description" class="line-height-1-4 text-color-gray">{{summary}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': additionalInfoMargin + 'px'}" *ngIf="coreDataService.templateData.additionalInfo" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">ADDITIONAL INFORMATION</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveAdditionalInfo('top')" [ngClass]="{'temp-move-opacity': additionalInfoMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveAdditionalInfo('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.additionalInfo">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.additionalInfo" style="margin-left: 15px;">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let addInfo of coreDataService.templateData.additionalInfoDetails; let i = index" class="margin-top-15">
                <div fxFlex="3%"><label>-</label></div>
                <div fxFlex="97%">
                  <label contenteditable="false" spellcheck="true" #adInfo [textContent]="coreDataService.templateData.additionalInfoDetails[i]" (blur)="coreDataService.templateData.additionalInfoDetails[i] = adInfo.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15 line-height-1-4" placeholder="Sample additional info">{{addInfo}}</label>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': referenceMargin + 'px'}" *ngIf="coreDataService.templateData.reference" class="temp">
            <div fxFlex="70%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color font-weight-bold" style="margin-left: 15px;">REFERENCE</label>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end" class="position-relative">
              <label class="temp-move">
                <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveReference('top')" [ngClass]="{'temp-move-opacity': referenceMargin == 15}"></i>&nbsp;&nbsp;
                <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveReference('bottom')"></i>
              </label>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.reference">
            <div fxFlex="97%">
              <div class="div-border" [ngClass]="{'color': setTextColor(coreDataService.templateData.templateTheme)}"></div>
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.reference" style="margin-left: 15px;">
            <div fxFlex="100%">
              <div fxLayout="row" *ngFor="let refInfo of coreDataService.templateData.referenceDetails; let i = index" class="margin-top-15">
                <div fxFlex="3%"><label>-</label></div>
                <div fxFlex="97%">
                  <label contenteditable="false" spellcheck="true" #refInfos [textContent]="coreDataService.templateData.referenceDetails[i]" (blur)="coreDataService.templateData.referenceDetails[i] = refInfos.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15 line-height-1-4" placeholder="Reference's content">{{refInfo}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
