
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 30s;

// Animation
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
  background: transparent;
  height: 400px;
  overflow:hidden;
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 350px;
    width: 250px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.63);
  }
}
.margin-top-40{
  margin-top: 40px;
}
.text-color-light-gray {
  color: gray;
  font-weight: 400;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-font-size {
  margin-top: 5px;
  font-size: 16px;
  font-family: Work Sans, sans-serif;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  color: #333;
  background: white;
  box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 250ms color;
  -webkit-transition: 250ms color;
  -moz-transition: 250ms color;
  -ms-transition: 250ms color;
  -o-transition: 250ms color;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {box-shadow: 0 0 0px 0px rgba(8, 202, 220, 0.5);}
  100% {box-shadow: 0 0 0px 15px rgba(8, 202, 220, 0);}
}
@-webkit-keyframes check {
  50% {
    outline-color: #08cadc;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px #08cadc;
  }
  100% {
    outline-color: #08cadc;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 #08cadc;
  }
}
.nav-list {
  padding: 10px 60px 10px 60px;
  outline: 0;
}
.mat-card:not([class*=mat-elevation-z]) {
  transition: none !important;
  background: white;
  box-shadow: none !important;
}

.container-bg{
  background: #1f2641;
  //height: 8000px;
}
  .margin-sm{
    margin-left: 22px;
    margin-right: 22px;
  }
.top-nav-banner-img {
  position: absolute;
  right: 0;
  width: 100%;
}
.footer {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px){
.intro-home-icon {
  margin-top: 220px;
  margin-bottom: 200px;
}
  .about-screen {
    margin-top: 160px;
    margin-bottom: 150px;
  }
  .home-shape-top {
    position: absolute;
    width: 48%;
    height: 200px;
    top: 150px;
    z-index: 1;
  }
  .home-shape-1 {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 900px;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    width: 100vw;
    z-index: 1000;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: transparent;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 0 15px 3px #8c8c8c59;
  }
  .header-font {
    margin-top: 120px;
    font-size: 50px;
    padding-left: 70px;
    padding-right: 40px;
    font-weight: 600;
  }
  .sub-header-font{
    font-size: 21px;
    color: #aab2cd;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 40px;
  }
  .build_resume-btn{
    -webkit-box-shadow: 0 3px 32px rgba(236,117,81,.54);
    background-image: -webkit-gradient(linear,left top,right top,from(#ed8a4c),to(#ea485c));
    padding: 14px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    line-height: 80px;
    font-family: Work Sans, sans-serif;
  }
    .service-logo{
      width: 280px;
    }
  .margin-top-80 {
        margin-top: 80px;
      }
  .about-shape-1{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 1700px;
    opacity: 0.4;
  }
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 2200px;
    object-fit: cover;
  }
  .benifits-bg{
    position: absolute;
    left: 30%;
    width: 50%;
    height: 800px;
    top: 3000px;
  }
  .benifits-bg-1{
    position: absolute;
    right: 0%;
    width: 30%;
    height: 450px;
    top: 2700px;
  }
  .icon-wrapper {
    width: 100px;
    height: 100px;
  }
  .icon-wrapper img {
    width: 40px;
  }
  .in-margin-top-50 {
    margin-top: 40px;
  }
    .desk-app{
      height: 580px;
    }
  .our-pricing {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .testimonals-bg-1 {
    position: absolute;
    width: 100%;
    height: 650px;
    top: 4200px;
  }
  .foot-key {
    padding-left: 50px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .intro-home-icon {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .about-screen {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .home-shape-top {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 150px;
    z-index: 1;
    object-fit: cover;
  }
  .home-shape-1 {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 800px;
    object-fit: cover;
  }
  .home-art-work{
    height: 240px;
    z-index: 3;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .header-font {
    font-size: 40px;
    padding-left: 30px;
    font-weight: 600;
  }
  .sub-header-font{
    font-size: 20px;
    color: #aab2cd;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .build_resume-btn{
    -webkit-box-shadow: 0 3px 32px rgba(236,117,81,.54);
    background-image: -webkit-gradient(linear,left top,right top,from(#ed8a4c),to(#ea485c));
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
  }
  .service-logo{
    width: 280px;
  }
  .xs-padding {
    padding-left: 20px;
  }
  .margin-top-80 {
    margin-top: 40px;
  }
  .about-shape-1{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2550px;
    object-fit: cover;
    opacity: 0.6;
  }
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 2700px;
    object-fit: cover;
  }
  .icon-wrapper {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }
  .icon-wrapper img {
    width: 25px;
  }
  .benifits-bg{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 800px;
    top: 3400px;
  }
  .benifits-bg-1{
    position: absolute;
    right: 5%;
    width: 30%;
    height: 250px;
    top: 3230px;
  }
  .desk-app{
    height: 250px;
  }
  .testimonals-bg-1 {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 5500px;
  }
}

@media screen and (min-width: 260px) and (max-width: 374px) {
  .intro-home-icon {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .about-screen {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .home-shape-1 {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 800px;
  }
  .home-art-work{
    height: 190px;
    z-index: 3;
  }
  .home-shape-top {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 150px;
    z-index: 1;
    object-fit: cover;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .header-font {
    font-size: 30px;
    padding-left: 22px;
    padding-right: 40px;
    font-weight: 600;
  }
  .sub-header-font{
    font-size: 18px;
    color: #aab2cd;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .build_resume-btn{
    -webkit-box-shadow: 0 3px 32px rgba(236,117,81,.54);
    background-image: -webkit-gradient(linear,left top,right top,from(#ed8a4c),to(#ea485c));
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
  }
  .service-logo{
    width: 280px;
  }
  .xs-padding {
        padding-left: 20px;
      }
  .margin-top-80 {
    margin-top: 40px;
  }
  .about-shape-1{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2550px;
    object-fit: cover;
    opacity: 0.6;
  }
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 2200px;
    object-fit: cover;
  }
  .icon-wrapper {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }
  .icon-wrapper img {
    width: 25px;
  }
  .benifits-bg{
    position: absolute;
    left: 30%;
    width: 50%;
    height: 800px;
    top: 3000px;
  }
  .benifits-bg-1{
    position: absolute;
    right: 0%;
    width: 30%;
    height: 450px;
    top: 2700px;
  }
  .desk-app{
    height: 230px;
  }
  .testimonals-bg-1 {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 5500px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro-home-icon {
    margin-top: 180px;
    margin-bottom: 150px;
  }
  .about-screen {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .home-shape-1 {
    position: absolute;
    width: 100%;
    height: 450px;
    top: 900px;
  }
  .home-art-work{
    height: 450px;
    z-index: 3;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: transparent;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 50px;
    color: #292929;
  }
  .header-font {
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
  }
  .sub-header-font{
    font-size: 24px;
    color: #aab2cd;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .build_resume-btn{
    -webkit-box-shadow: 0 3px 32px rgba(236,117,81,.54);
    background-image: -webkit-gradient(linear,left top,right top,from(#ed8a4c),to(#ea485c));
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
  }
  .service-logo{
    width: 280px;
  }
  .margin-top-80 {
    margin-top: 80px;
  }
  .about-shape-1{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 1500px;
    opacity: 0.3;
  }
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 2200px;
    object-fit: cover;
  }
  .icon-wrapper{
    width: 80px;
    height: 80px;
  }
  .icon-wrapper img {
    width: 40px;
  }
  .benifits-bg{
    position: absolute;
    left: 30%;
    width: 50%;
    height: 800px;
    top: 3000px;
  }
  .benifits-bg-1{
    position: absolute;
    right: 0%;
    width: 30%;
    height: 450px;
    top: 2800px;
  }
  .desk-app{
    height: 450px;
  }
  .home-shape-top {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 150px;
    z-index: 1;
    object-fit: cover;
  }
}
.avish-logo{
  position: relative;
  top: -3px;
}
