//.dark-img {
//  position: relative;
//}
//
//.dark-img img {
//  display: block;
//  width: 100%;
//  height: 600px;
//  object-fit: cover;
//}
//
//.dark-img::before {
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  z-index: 1;
//  background: rgba(0, 0, 0, .6);
//}
//.intro-toolbar {
//  position: fixed;
//  top: 0;
//  color: black;
//  padding-left: 0px;
//  z-index: 1000;
//  width: 100%;
//}
//.color-white{
//  color: #ffffff;
//}
//.after-banner{
//  width: 100%;
//  height: 60px;
//  background: #c5c5c5;
//}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}



@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 30s;

// Animation
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 400px;
  overflow:hidden;
  position: relative;
  width: 100%;

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 350px;
    width: 250px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.63);
  }
}
//.text-color-black {
//  color: #2b2b2b;
//}
//.text-color-light-gray{
//  color: #757575;
//}
.margin-top-40{
  margin-top: 40px;
}
//.margin-top-100{
//  margin-top: 100px;
//}
//.margin-top-30{
//  margin-top: 30px;
//}
//.margin-top-20{
//  margin-top: 20px;
//}
//footer {
//  background: #303D46;
//  color: white;
//  padding-top: 15px;
//  padding-bottom: 30px;
//  padding-left: 20px;
//  padding-right: 20px;
//}
//.overflow {
//  height: 100%;
//  overflow-y: scroll;
//  &::-webkit-scrollbar {
//    width: 7px;
//    height: 7px;
//  }
//  /* Track */
//  &::-webkit-scrollbar-track {
//    background: #f9f9f9;
//  }
//
//  /* Handle */
//  &::-webkit-scrollbar-thumb {
//    background: #c1c1c1;
//    border-radius: 0.2rem;
//  }
//
//  /* Handle on hover */
//  &::-webkit-scrollbar-thumb:hover {
//    background: #c1c1c1;
//  }
//}
//
//
//
//@media screen and (min-width: 1024px){ // desktop
//  .intro-builder-online{
//    color: white;
//    position: absolute;
//    top: 25%;
//    z-index: 100;
//    left: 28vw;
//    font-family: 'arial';
//  }
//  .intro-builder-subheading{
//    color: white;
//    position: absolute;
//    top: 30vh;
//    z-index: 100;
//    left: 38vw;
//    font-family: 'arial';
//  }
//  .intro-builder-brief {
//    color: white;
//    position: absolute;
//    top: 34vh;
//    z-index: 100;
//    left: 23vw;
//    font-family: 'arial';
//  }
//  .intro-builder-button{
//    color: white;
//    position: absolute;
//    top: 42vh;
//    z-index: 10;
//    left: 45vw;
//    font-family: 'arial';
//    border-radius: 5px;
//  }
//  .app-banner-img{
//    width:80%;
//    height:490px;
//  }
//}
//@media screen and (min-width: 376px) and (max-width: 767px) { // pixels XL, Iphones
//  .intro-builder-online{
//    color: white;
//    position: absolute;
//    top: 20%;
//    left: 5%;
//    z-index: 100;
//    font-family: 'arial';
//  }
//  .intro-builder-subheading{
//    color: white;
//    position: absolute;
//    top: 33vh;
//    z-index: 100;
//    left: 6vw;
//    font-family: 'arial';
//  }
//  .intro-builder-brief {
//    color: white;
//    position: absolute;
//    top: 38vh;
//    z-index: 100;
//    left: 6vw;
//    font-family: 'arial';
//  }
//  .intro-builder-button{
//    color: white;
//    position: absolute;
//    top: 51vh;
//    z-index: 10;
//    left: 30vw;
//    font-family: 'arial';
//    border-radius: 5px;
//  }
//  .app-banner-img{
//    width:80%;
//    height:250px;
//  }
//  .xs-padding{
//    padding-left: 15px;
//  }
//}
//@media screen and (min-width: 260px) and (max-width: 375px){ // iphone xs, moto
//  .intro-builder-online{
//    color: white;
//    position: absolute;
//    top: 20%;
//    left: 5%;
//    z-index: 100;
//    font-family: 'arial';
//  }
//  .intro-builder-subheading{
//    color: white;
//    position: absolute;
//    top: 34vh;
//    z-index: 100;
//    left: 6vw;
//    font-family: 'arial';
//  }
//  .intro-builder-brief {
//    color: white;
//    position: absolute;
//    top: 39vh;
//    z-index: 100;
//    left: 6vw;
//    font-family: 'arial';
//  }
//  .intro-builder-button{
//    color: white;
//    position: absolute;
//    top: 52vh;
//    z-index: 10;
//    left: 30vw;
//    font-family: 'arial';
//    border-radius: 5px;
//  }
//  .app-banner-img{
//    width:80%;
//    height:250px;
//  }
//  .xs-padding{
//    padding-left: 15px;
//  }
//}
//@media screen and (min-width: 768px) and (max-width: 1023px){ //ipad
//  .intro-builder-online{
//    color: white;
//    position: absolute;
//    top: 20%;
//    left: 5%;
//    z-index: 100;
//    font-family: 'arial';
//  }
//  .intro-builder-subheading{
//    color: white;
//    position: absolute;
//    top: 25vh;
//    z-index: 100;
//    left: 25vw;
//    font-family: 'arial';
//  }
//  .intro-builder-brief {
//    color: white;
//    position: absolute;
//    top: 30vh;
//    z-index: 100;
//    left: 3vw;
//    font-family: 'arial';
//  }
//  .intro-builder-button{
//    color: white;
//    position: absolute;
//    top: 37vh;
//    z-index: 10;
//    left: 40vw;
//    font-family: 'arial';
//    border-radius: 5px;
//  }
//}

@media screen and (min-width: 1024px){ // desktop
  .mat-toolbar {
    position: absolute;
    top: 3%;
    background: transparent;
    z-index: 20;
    color: white;
  }
  .service-logo{
    width: 340px;
  }
  .mat-toolbar-row {
    padding-left: 0px;
  }
  .nav-font-size {
    font-size: 16px;
  }
  .top-nav-banner-img {
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 10;
  }
  .header-top-height {
    margin-top: 300px;
  }
  .header-font {
    margin-top: 10px;
    font-size: 50px;
    padding-left: 70px;
    padding-right: 40px;
    font-weight: 600;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    height: 80%;
  }
  .sub-header-font{
    font-size: 21px;
    color: #534d4d;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 40px;
  }
  .build_resume-btn{
    background: #ff8924;
    padding: 18px 36px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    line-height: 50px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .intro-msg {
    padding-top: 50px;
    padding-bottom: 70px;
    background: #f8f8f8;
  }
  .about-screen-video{
    padding-top: 30px;
    padding-bottom: 70px;
    background: #ffffff;
  }
  .video-bg-img {
    position: absolute;
    width: 44%;
    margin-top: 100px;
  }
  .video-js{
    margin-top: 160px;
    margin-left: -10px;
  }
  .review-section {
    background: #000080;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .foot-key{
    text-align: left;
    margin-left: 50px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .testi-mon-1 {
    position: absolute;
    top: 120px;
    left: 420px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-2 {
    position: absolute;
    top: 320px;
    left: 160px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-3 {
    position: absolute;
    top: 120px;
    left: 1020px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-4 {
    position: absolute;
    top: 520px;
    left: 360px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-5 {
    position: absolute;
    top: 320px;
    left: 1260px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-6 {
    position: absolute;
    position: absolute;
    top: 520px;
    left: 1060px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) { // pixels XL, Iphones
  .mat-toolbar {
    position: absolute;
    top: 5%;
    background: transparent;
    z-index: 20;
    color: white;
  }
  .service-logo{
    width: 250px;
    position: absolute;
    top: -40px;
    left: -30px;
  }
  .top-nav-banner-img {
    position: absolute;
    right: 0;
    height: 15%;
    z-index: 10;
  }
  .header-top-height {
    margin-top: 120px;
  }
  .header-font {
    font-size: 40px;
    padding-left: 30px;
    font-weight: 600;
  }
  .sub-header-font{
    font-size: 20px;
    color: #534d4d;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .build_resume-btn{
    background: #ff8924;
    padding: 14px 36px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .home-art-work{
    height: 240px;
  }
  .intro-msg {
    padding-top: 30px;
    padding-bottom:30px;
    background: #f8f8f8;
  }
  .about-screen-video{
    padding-top: 30px;
    padding-bottom: 50px;
    background: #ffffff;
  }
  .video-bg-img {
    position: absolute;
    width: 100%;
    margin-top: 20px;
  }
  .video-js{
    margin-top: 60px;
    margin-left: -10px;
  }
  .review-section {
    background: #000080;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .foot-key{
    margin-left: 0px;
  }
  .xs-padding {
    padding-left: 15px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
  .testi-mon-1 {
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-2 {
    position: absolute;
    top: 180px;
    left: 120px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-3 {
    position: absolute;
    top: 120px;
    left: 300px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-4 {
    position: absolute;
    top: 520px;
    left: 160px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-5 {
    position: absolute;
    top: 320px;
    left: 260px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-6 {
    position: absolute;
    top: 320px;
    left: 60px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
}
@media screen and (min-width: 260px) and (max-width: 374px){ // iphone xs, moto
  .mat-toolbar {
    position: absolute;
    top: 5%;
    background: transparent;
    z-index: 20;
    color: white;
  }
  .service-logo{
    width: 200px;
    position: absolute;
    top: -40px;
    left: -30px;
  }
  .top-nav-banner-img {
    position: absolute;
    right: 0;
    height: 20%;
    z-index: 10;
  }
  .header-top-height {
    margin-top: 160px;
  }
  .header-font {
    font-size: 40px;
    padding-left: 70px;
    padding-right: 40px;
    font-weight: 600;
  }
  .build_resume-btn{
    background: #ff8924;
    padding: 14px 36px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .home-art-work{
    height: 180px;
  }
  .sub-header-font{
    font-size: 20px;
    color: #534d4d;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .intro-msg {
    padding-top: 30px;
    padding-bottom:30px;
    background: #f8f8f8;
  }
  .about-screen-video{
    padding-top: 30px;
    padding-bottom: 50px;
    background: #ffffff;
  }
  .video-bg-img {
    position: absolute;
    width: 100%;
    margin-top: 20px;
  }
  .video-js{
    margin-top: 60px;
    margin-left: -10px;
  }
  .review-section {
    background: #000080;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .foot-key{
    margin-left: 0px;
  }
  .xs-padding {
    padding-left: 15px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
  .testi-mon-1 {
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-2 {
    position: absolute;
    top: 180px;
    left: 120px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-3 {
    position: absolute;
    top: 120px;
    left: 280px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-4 {
    position: absolute;
    top: 520px;
    left: 160px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-5 {
    position: absolute;
    top: 320px;
    left: 260px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
  .testi-mon-6 {
    position: absolute;
    top: 320px;
    left: 60px;
    z-index: 20;
    opacity: 0.7;
    filter: blur(2px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){ //ipad
  .mat-toolbar {
    position: absolute;
    top: 5%;
    background: transparent;
    z-index: 20;
    color: white;
  }
  .service-logo{
    width: 300px;
    position: absolute;
    top: -60px;
    left: -35px;
  }
  .top-nav-banner-img {
    position: absolute;
    right: 0;
    height: 20%;
    z-index: 10;
  }
  .header-top-height {
    margin-top: 200px;
  }
  .header-font {
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
  }
  .build_resume-btn{
    background: #ff8924;
    padding: 14px 36px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .home-art-work{
    height: 450px;
  }
  .sub-header-font{
    font-size: 24px;
    color: #534d4d;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 40px;
  }
  .about-screen-video{
    padding-top: 30px;
    padding-bottom: 50px;
    background: #ffffff;
  }
  .video-bg-img {
    position: absolute;
    width: 100%;
    margin-top: 20px;
  }
  .video-js{
    margin-top: 60px;
  }
  .review-section {
    background: #000080;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
}
.text-color-light-gray {
  color: gray;
  font-weight: 400;
  text-align: center;
}
.testimonials-section {
  background: #000080;
  color: white;
  height: 450px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 80px 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #fff;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__inner {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500%;
  height: auto;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__caption {
  font-size: 14px;
  color: white;
  opacity: .5;
  font-family: 'Roboto';
  font-weight: bold;
}
.slider__txt {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto';
  line-height: 1.7;
  color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 750px;
}
.quote-style {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 30px;
  color: #ec2027;
  margin-bottom: 25px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
.position-relative {
  position: relative;
}
.foot-link {
  color: #8495a6;
  margin-bottom: 8px;
}
.social-link {
  padding: 10px;
  background: #050080;
  border-radius: 50%;
  cursor: pointer;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
