<div class="dark-img">
  <img src="assets/images/intro-banner.jpg" />
</div>
<mat-toolbar class="navbar-bg" data-aos="zoom-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500" class="intro-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <i class="fa fa-bars"></i>
    </button>
    <span data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500"><img src="assets/images/business-logo-page.png" width="240px"/></span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
      <a mat-button [routerLink]="'/login'" class="font-size-15">Login</a>
      <a mat-button [routerLink]="'/enroll'" class="font-size-15">Signup</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-button [routerLink]="'/login'" class="font-size-15">Login</a>
      <a mat-button [routerLink]="'/enroll'" class="font-size-15">Signup</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<mat-toolbar class="navbar-bg" data-aos="zoom-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500" class="intro-toolbar">-->
<!--  <mat-toolbar-row>-->
<!--    <span data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500"><img src="assets/images/business-logo-page.png" width="240px"/></span>-->
<!--    <span class="menu-spacer"></span>-->
<!--    <div fxShow="true" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">-->
<!--      <a mat-button [routerLink]="'/login'" class="font-size-15">Login</a>-->
<!--      <a mat-button [routerLink]="'/enroll'" class="font-size-15">Signup</a>-->
<!--    </div>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<div fxLayout="row" class="intro-builder-online" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="100%" fxLayoutAlign="center">
    <h2 class="color-white">RESUME BUILDER - FAST, FUTURISTIC AND EASY TO USE</h2>
  </div>
</div>
<div fxLayout="row" class="intro-builder-subheading" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="100%">
    <h3 class="color-white">The right place to start your Job search </h3>
  </div>
</div>
<div fxLayout="row" class="intro-builder-brief" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="100%">
    <h4 class="color-white">Create your CV using our designed template themes and boost up your chances on making it to your dream job.</h4>
  </div>
</div>
<div fxLayout="row" class="intro-builder-button" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="100%">
    <button mat-raised-button  [routerLink]="'/login'" color="primary">Build My Resume</button>
  </div>
</div>
<div class="after-banner"></div>
<div fxLayout="row" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="100%" fxLayoutAlign="center" fxLayoutAlign.xs="center center">
    <h2 style="margin-bottom: 0px" class="text-color-black xs-padding">Build an Impressive Resume with Resumearc</h2>
  </div>
</div>
<div fxLayout="row" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="15%"></div>
  <div fxFlex="70%" fxLayoutAlign="center center">
    <h4 style="margin-bottom: 0px" class="text-color-light-gray">Making a resume is the first step of any job search. Create Professionally beautiful resumes to score points from your future employer. it's a powerful and flexible publishing platform which enables you  to access and modify all aspects of the resume using the editor.</h4>
  </div>
  <div fxFlex="15%"></div>
</div>
<div fxLayout="row" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div fxFlex="15%"></div>
  <div fxFlex="70%" fxLayoutAlign="center center">
    <h4 style="margin-top: 8px;" class="text-color-light-gray">Create and export your selected template in minutes.</h4>
  </div>
  <div fxFlex="15%"></div>
</div>
<div class="slider margin-top-40">
  <div class="slide-track" fxLayout="row" fxLayoutGap="1%">
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-one.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Basic</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-two.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Clean</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-three.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Corporate</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-four.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Simple</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-five.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Knowledgeable</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-six.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Insightful</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-three.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Corporate</label>
      </div>
    </div>
    <div fxFlex="8%" class="slide">
      <img class="cr-pointer image" src="assets/images/template-images/template-four.png" alt="" width="100%" height="200px"><br/>
      <div fxLayoutAlign="center">
        <label>Simple</label>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
  <div fxFlex="100%" fxLayoutAlign="center">
    <h2 class="xs-padding">Benefits of Resumearc's online resume builder</h2>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="100%">
  <div fxFlex="5.5%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="7%" fxFlex.xs="10%" fxFlex.sm="10%">
        <img src="assets/images/flash.svg" width="30px" style="position: relative; top: 15px"/>
      </div>
      <div fxFlex="90%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">It's fast and easy to use</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="80%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">We are providing straight forward functionalities in the editior to make it  user friendly which will help you pick the perfect resume in minutes.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="1%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
  <div fxFlex="29%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="8%" fxFlex.xs="10%" fxFlex.sm="10%">
        <img src="assets/images/safe.svg" width="32px" style="position: relative; top: 15px"/>
      </div>
      <div fxFlex="90%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">Your data is safe</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="80%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">Your details is always private and protected, As per your requirement you can easily download and update the details of your resume.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="7%" fxFlex.xs="10%" fxFlex.sm="10%">
        <img src="assets/images/typography.svg" width="28px" style="position: relative; top: 15px"/>&nbsp;
      </div>
      <div fxFlex="90%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">Professional Typography</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="80%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">Making the text reader-friendly and at the same time establishing the right structure and hierarchy in the font. </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="100%">
  <div fxFlex="5.5%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
  <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="8%">
        <img src="assets/images/theme.svg" width="25px" style="position: relative; top: 15px"/>
      </div>
      <div fxFlex="93%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">Multiple themes</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="80%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">We are providing theme options for every template to customize and create a better visual impact on the resume as per the users requirement.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="6.5%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="10%">
        <img src="assets/images/spell-check.svg" width="25px" style="position: relative; top: 17px"/>
      </div>
      <div fxFlex="90%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">Auto spell check</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="95%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">You can conveniently correct your misspelled words as and when your typing. </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="8.7%"></div>
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.xs="left">
    <div fxLayout="row" class="xs-padding">
      <div fxFlex="6%" fxFlex.xs="0%" fxFlex.sm="0%">
        <img src="assets/images/cv.svg" width="25px" style="position: relative; top: 16px"/>
      </div>
      <div fxFlex="90%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <h4 class="m-b-0">20+ Resume templates</h4>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="80%">
            <h5 class="m-t-0 font-weight-normal text-color-light-gray">We have handpicked 20+ templates that suits the various management and technical career segments in the market.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" class="margin-top-100" fxLayoutGap.xs="8%" fxLayoutGap.sm="8%">
  <div fxFlex="50%" fxFlex.xs="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
    <div fxLayout="row">
      <div fxFlex="100%" fxLayoutAlign="center">
        <h2 class="m-t-0 m-b-0"><i>How it works</i></h2>
      </div>
    </div>
    <div class="margin-top-30"></div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="20%" fxFlex.xs="2%" fxFlex.sm="2%"></div>
          <div fxFlex="10%" fxFlex.xs="19%" fxFlex.sm="19%"><i>Step 1</i>&nbsp;:&nbsp;</div>
          <div fxFlex="72%"><h4 class="m-t-0 m-b-0">Register with Resumearc</h4></div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30%" fxFlex.xs="21%" fxFlex.sm="21%"></div>
          <div fxFlex="72%"><h5 class="m-t-0 m-b-0 font-weight-normal text-color-light-gray">It only takes a few steps to sign up and get you deployed into Resumearc.</h5></div>
        </div>
      </div>
    </div>
    <div class="margin-top-20"></div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="20%" fxFlex.xs="2%" fxFlex.sm="2%"></div>
          <div fxFlex="10%" fxFlex.xs="19%" fxFlex.sm="19%"><i>Step 2</i>&nbsp;:&nbsp;</div>
          <div fxFlex="72%"><h4 class="m-t-0 m-b-0">Choose your Template</h4></div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30%" fxFlex.xs="21%" fxFlex.sm="21%"></div>
          <div fxFlex="72%"><h5 class="m-t-0 m-b-0 font-weight-normal text-color-light-gray">We are providing multiple template option that the user can select from and the user can get a visual of every template with his/her details.</h5></div>
        </div>
      </div>
    </div>
    <div class="margin-top-20"></div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="20%" fxFlex.xs="2%" fxFlex.sm="2%"></div>
          <div fxFlex="10%" fxFlex.xs="19%" fxFlex.sm="19%"><i>Step 3</i>&nbsp;:&nbsp;</div>
          <div fxFlex="72%"><h4 class="m-t-0 m-b-0">Develop and optimize your content</h4></div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30%" fxFlex.xs="21%" fxFlex.sm="21%"></div>
          <div fxFlex="72%"><h5 class="m-t-0 m-b-0 font-weight-normal text-color-light-gray">We have a add and remove feature for every section in the resume.<br/>
            Example: if he/she is a fresher they can just deselect the work Experience section off from their resume in the preview mode to better optimize their content.
            Under few sections we have given a provision to add multiple sub-sections for the user to explain their views better.
          </h5></div>
        </div>
      </div>
    </div>
    <div class="margin-top-20"></div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="20%" fxFlex.xs="2%" fxFlex.sm="2%"></div>
          <div fxFlex="10%" fxFlex.xs="19%" fxFlex.sm="19%"><i>Step 4</i>&nbsp;:&nbsp;</div>
          <div fxFlex="72%"><h4 class="m-t-0 m-b-0">Verify PDF version</h4></div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30%" fxFlex.xs="21%" fxFlex.sm="21%"></div>
          <div fxFlex="72%"><h5 class="m-t-0 m-b-0 font-weight-normal text-color-light-gray">In this option we are providing the user to see the developed resume in the  PDF version to see how it looks before the download.</h5></div>
        </div>
      </div>
    </div>
    <div class="margin-top-20"></div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="20%" fxFlex.xs="2%" fxFlex.sm="2%"></div>
          <div fxFlex="10%" fxFlex.xs="19%" fxFlex.sm="19%"><i>Step 5</i>&nbsp;:&nbsp;</div>
          <div fxFlex="72%"><h4 class="m-t-0 m-b-0">Pay and Download PDF</h4></div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30%" fxFlex.xs="21%" fxFlex.sm="21%"></div>
          <div fxFlex="72%"><h5 class="m-t-0 m-b-0 font-weight-normal text-color-light-gray">You have reached the last step of building your resume, once to content is completed with your verified template, You need to pay <i class="fa fa-rupee"></i>15 for downloading template and after successful payment, your resume will be automatically download in PDF format.</h5></div>
        </div>
      </div>
    </div>
    <div class="margin-top-20"></div>
    <div fxLayout="row" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
      <div fxFlex="100%" fxLayoutAlign="center">
        <button mat-raised-button  [routerLink]="'/login'" color="primary">Build My Resume</button>
      </div>
    </div>
  </div>
  <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
    <img src="assets/images/app-edit-screen.png" class="app-banner-img" />
  </div>
</div>
<div style="margin-bottom: 100px"></div>
<footer class="footer">
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.xs="5%" fxLayoutGap.sm="5%">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
    <label style="font-size: 13px">HQ & Development</label>&nbsp;&nbsp;
    <br/>
    <label>Bangalore, Karnataka</label>
  </div>
  <div fxFlex="60%" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
    <a href="https://www.instagram.com/resumearc/?hl=en" target="_blank"><img src="assets/images/instagram.svg" width="33px"/></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/Resumearc/" target="_blank"><img src="assets/images/fb-icon.svg" width="30px"/></a>
  </div>
  <div fxFlex="20%" fxLayoutAlign="end center" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
     <label>contact@resumearc.in</label>
  </div>
</div>
  <div class="margin-top-15"></div>
  <hr/>
  <div fxLayout="row">
    <div fxFlex="100%" fxLayoutAlign="center center" style="margin-top: 15px;">
      Copyright © 2020 Resumearc. All Rights Reserved.
    </div>
  </div>
</footer>
