<h1 mat-dialog-title style="font-size: 16px; color: #3f51b5; margin-bottom:10px">PDF View</h1>
<div fxLayout="row">
  <div mat-dialog-content fxFlex="70%">
    <pdf-viewer [src]="data.src"></pdf-viewer>
  </div>
  <div mat-dialog-content fxFlex="32%" style="padding-left: 60px">
    <h3>Please read the instructions properly</h3>
    <div>Instructions<i style="color:red;">*</i></div>
    <div class="margin-top-5"></div>
    <label class="font-weight-normal text-color-light-gray" style="font-size: 13px">1. Check and verify for  spelling mistakes and any grammatical errors to have a error-free resume. </label>
    <br/>&nbsp;
    <div class="margin-top-5"></div>
    <label class="font-weight-normal text-color-light-gray" style="font-size: 13px">2. Re-verify your resume and check if all the sections have been added and all your necessary changes have been made before your final step.</label>
    <div class="margin-top-15"></div>
    <div>Important Note<i style="color:red;">*</i></div>
    <div class="margin-top-5"></div>
    <label class="font-weight-normal text-color-light-gray" style="font-size: 13px">1. If you find any issue regarding breakage while using a multiple page resume you can easily fix this issue by giving vertical spacing by clicking <i class="fa fa-arrow-circle-up mat-primary fa-arrow"></i> and <i class="fa fa-arrow-circle-down mat-primary fa-arrow"></i> arrows in the editor page to solve the breakage issue and re-verify it. To see the arrows, you need to hover on section heading row.</label>
    <br/>
    <label class="font-weight-normal text-color-light-gray" style="font-size: 13px"> for eg:- <b>Work Experience</b> is a section so, you need to hover work experience heading row to see the arrows at right side.</label>
    <br/>
    <div class="margin-top-5"></div>
    <label class="font-weight-normal" style="font-size: 13px; color: red">2. You will be charged again in case of update while using a paid template, so please make sure your resume is error free before you download the final PDF version.</label>
    <div fxLayout="row">
      <div mat-dialog-actions fxFlex="100%" style="padding-bottom: 20px; padding-top: 10px;" fxLayoutAlign="center">
        <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial color="primary">Close</button>
      </div>
    </div>
  </div>
</div>
