:host ::ng-deep .ng2-pdf-viewer-container {
  width: 145%;
  height: auto !important;
  max-height: 100% !important;
  background: #505050;
  overflow: scroll;
  transform: scale(0.7);
  transform-origin: 0% 0%;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
:host ::ng-deep [_nghost-uhg-c155] .pdfViewer.removePageBorders .page {
  margin-bottom: 20px;
}
.text-color-light-gray{
  color: #757575;
}
.scroll-y {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.mat-dialog-container {
  max-width: 100vw !important;
}

::ng-deep .mat-dialog-content {
  max-height: 150vh !important;
}
::ng-deep .page .textLayer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background-image: url('../../../assets/images/preview-watermark.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
