:host ::ng-deep .ng2-pdf-viewer-container {
  width: 793px;
  padding-top: 15px;
  padding-left: 13px;
  padding-right: 35px;
  background: #505050;
}
:host ::ng-deep [_nghost-uhg-c155] .pdfViewer.removePageBorders .page {
  margin-bottom: 20px;
}
