<h1 mat-dialog-title style="font-size: 16px; color: #3f51b5; margin-bottom:10px">PDF View</h1>
<div mat-dialog-content>
  <iframe [src]="data.src" width="793.70" height="1054" frameborder="0" style="border: 3px solid gray"></iframe>
</div>
<div fxLayout="row">
  <div mat-dialog-actions fxFlex="100%" style="padding-bottom: 20px; padding-top: 10px;" fxLayoutAlign="center">
    <label style="width: 700px;color:#3f51b5;font-size:14px">Note: Please give an empty space by pressing 'Enter' key from above section where its breaks in case of any issues with multiple page and re-verify it.</label>
     <br/>&nbsp;&nbsp;
    <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial color="primary">Close</button>
  </div>
</div>
