.fp-border-none {
  border: none;
}
.fp-page-height {
  height: 96vh;
}
.fp-bg{
  background-image: url("/assets/images/create-resume.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.fp-label{
  color:#3f51b5;
  margin-bottom: 20px;
}
.fp-btn {
  width: 45%;
  margin-top: 10px;
}
.margin-top-12{
  margin-top: 12px;
}
.margin-top-5{
  margin-top: 5px;
}
.fp-error{
  font-size: 13px;
  color: #ff5959;
}
