<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="fp-bg">
  <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="100%"></div>
  <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="70%">
    <form [formGroup]="fpFormValidation" (ngSubmit)="sendLink()">
      <fieldset  class="fp-border-none">
        <div fxLayout="row" fxLayoutAlign="center center" class="fp-page-height">
          <div fxFlex="25%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
          <mat-card fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
            <div fxLayout="row"  fxLayoutAlign="center center">
              <div fxFlex="100%" fxFlex.xs="100%" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="500">
                <div fxLayout="row">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <a [routerLink]="'/intro'"><img src="assets/images/business-logo-page.png" width="240px"/></a>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <label class="fp-label">Forgot Password</label>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <label class="mat-caption">Please enter your registered email address</label>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="margin-top-12">
                  <mat-form-field floatLabel="always" fxFlex="75%"  fxFlex.xs="100%">
                    <mat-label class="mat-body-2" for="email">Email</mat-label>
                    <input matInput name="email" id="email" tabindex="1" formControlName="email" [(ngModel)]="email" autocomplete="off" required/>
                    <mat-error *ngIf="!fpFormValidation.get('email').valid">Invalid Email</mat-error>
                    <mat-hint>we will send you reset password link to your registered email</mat-hint>
                  </mat-form-field>
                </div>
                <div fxLayout="row" class="margin-top-12" *ngIf="authError">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <label class="fp-error">{{authError?.message}}</label>
                  </div>
                </div>
                <div fxLayout="row" class="margin-top-10">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" class="fp-btn" tabindex="3">Reset Password</button>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="100%" fxLayoutAlign="center">
                    <label class="margin-top-12">Go back to login?</label>
                    <button mat-button color="primary" style="margin-top: 3.5px" [routerLink]="'/login'" tabindex="5">Click here</button>
                  </div>
                </div>
              </div>
<!--              <div fxFlex="30%" fxLayoutAlign="end" fxHide fxShow.lg="true" fxShow.md="true" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">-->
<!--                <img src="./assets/images/login-banner.jpg" width="380px" height="100%">-->
<!--              </div>-->
            </div>
          </mat-card>
          <div fxFlex="25%" fxFlex.xs="0%" fxFlex.sm="0%"></div>
        </div>
      </fieldset>
    </form>
  </div>
  <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="100%"></div>
</div>
