
<h1 mat-dialog-title style="font-size: 16px; color: #3f51b5; margin-bottom:0px">Crop Image</h1>
<div mat-dialog-content>
  <image-cropper
    [imageChangedEvent]="data.file"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 4"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
</div>
<div fxLayout="row">
  <div mat-dialog-actions fxFlex="100%" fxLayoutAlign="end" style="padding-bottom: 20px">
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="croppedImage" color="primary">Crop</button>
  </div>
</div>

