<div fxLayout="row">
  <mat-card fxFlex="100%">
    <div class="page-break-1" *ngIf="pageType!='single' && !coreDataService.hideSeparater"></div>
    <div fxLayout="row">
      <div fxFlex="100%" [ngStyle]="{'height':pageHeight}">
        <div fxLayout="row">
          <div fxFlex="100%" style="padding-left: 15px;margin-top:20px">
            <label #title [textContent]="coreDataService.templateData.title" (blur)="coreDataService.templateData.title = title.innerText" contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.titleSize)+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="Full Name">{{coreDataService.templateData.title}}</label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.isImageNeeded" style="padding-top: 5px;margin-left: 15px">
          <div fxFlex="100%" >
            <label #role contenteditable="true" spellcheck="true" [textContent]="coreDataService.templateData.role" (blur)="coreDataService.templateData.role = role.innerText" [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" placeholder="Job's Title">{{coreDataService.templateData.role}}</label>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;margin-top:12px">
          <div fxFlex="35%">
            <i class="fa fa-envelope fa-small" [ngStyle]="{'background': coreDataService.templateData.templateTheme}"></i>&nbsp;
            <label #email [textContent]="coreDataService.templateData.email" (blur)="coreDataService.templateData.email = email.innerText" contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" placeholder="johndoe@gmail.com">{{coreDataService.templateData.email}}</label>
          </div>
          <div fxFlex="25%">
            <i class="fa fa-phone fa-small" [ngStyle]="{'background': coreDataService.templateData.templateTheme}"></i>&nbsp;
            <label #phone [textContent]="coreDataService.templateData.phone" (blur)="coreDataService.templateData.phone = phone.innerText" contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" placeholder="1234567890">{{coreDataService.templateData.phone}}</label>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;margin-top:8px">
          <div fxFlex="100%">
            <i class="fa fa-map-marker fa-small-location" [ngStyle]="{'background': coreDataService.templateData.templateTheme}"></i>&nbsp;
            <label #address [textContent]="coreDataService.templateData.address" (blur)="coreDataService.templateData.address = address.innerText" contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" placeholder="Your Address">{{coreDataService.templateData.address}}</label>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;margin-top:18px" *ngIf="coreDataService.templateData.objective">
          <div fxFlex="99%">
            <label #objectiveMsg [textContent]="coreDataService.templateData.objectiveMsg" (blur)="coreDataService.templateData.objectiveMsg = objectiveMsg.innerText"  contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="line-height-1-4" placeholder="Fill in your Career’s Objective">{{coreDataService.templateData.objectiveMsg}}</label>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': workExpMargin + 'px'}" *ngIf="coreDataService.templateData.workExp" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 9px 8px 2px 8px;"><img src="assets/images/template-icons/black-suitcase.svg" style="width: 18px"/></span>&nbsp;
            <label [ngStyle]="{'font-size': (coreDataService.templateData.roleSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color font-weight-bold">Work Experience</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveWorkExp('top')" [ngClass]="{'temp-move-opacity': workExpMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveWorkExp('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let companyInfo of coreDataService.templateData.companyInfo; let i = index" class="margin-top-15">
              <div fxFlex="30%">
                <label contenteditable="true" spellcheck="true" #year [textContent]="coreDataService.templateData.companyInfo[i].workFromTo" (blur)="coreDataService.templateData.companyInfo[i].workFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15" placeholder="From - To/Present">{{companyInfo.workFromTo}}</label>
              </div>
              <div fxFlex="70%">
                <div>
                  <label contenteditable="true" spellcheck="true" #cname [textContent]="coreDataService.templateData.companyInfo[i].companyName" (blur)="coreDataService.templateData.companyInfo[i].companyName = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Name of your company">{{companyInfo.companyName}}</label><br/>
                </div>
                <div>
                  <label contenteditable="true" spellcheck="true" #crole [textContent]="coreDataService.templateData.companyInfo[i].role" (blur)="coreDataService.templateData.companyInfo[i].role = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="Job position" class="line-height-1-4">{{companyInfo.role}}</label><br/>
                </div>
                <div *ngFor="let summary of coreDataService.templateData.companyInfo[i].details; let k = index" class="margin-top-5">
                  <div fxFlex="3%"><label>-</label></div>
                  <div fxFlex="97%">
                    <label contenteditable="true" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 2)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.companyInfo[i].details[k]" (blur)="coreDataService.templateData.companyInfo[i].details[k] = csumm.innerText" placeholder="Job's professional history, key experience and achievements" class="line-height-1-4">{{summary}}</label><br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': educationMargin + 'px'}" *ngIf="coreDataService.templateData.education" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 8px 7px 0px 7px;"><img src="assets/images/template-icons/education.svg" style="width: 23px" /></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Education</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveEducation('top')" [ngClass]="{'temp-move-opacity': educationMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveEducation('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.education">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let eduInfo of coreDataService.templateData.educationInfo; let i = index" class="margin-top-15">
              <div fxFlex="30%">
                <label contenteditable="true" spellcheck="true" #year [textContent]="coreDataService.templateData.educationInfo[i].yearFromTo" (blur)="coreDataService.templateData.educationInfo[i].yearFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15" placeholder="From - To/Present">{{eduInfo.yearFromTo}}</label>
              </div>
              <div fxFlex="70%">
                <div>
                  <label contenteditable="true" spellcheck="true" #sname [textContent]="coreDataService.templateData.educationInfo[i].schoolName" (blur)="coreDataService.templateData.educationInfo[i].schoolName = sname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold line-height-1-4" maxlength="50" placeholder="Full name of University/Organization">{{eduInfo.schoolName}}</label><br/>
                </div>
                <div>
                  <label contenteditable="true" spellcheck="true" #sdept [textContent]="coreDataService.templateData.educationInfo[i].department" (blur)="coreDataService.templateData.educationInfo[i].department = sdept.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="Your major/Name of your course" class="line-height-1-4">{{eduInfo.department}}</label><br/>
                </div>
                <div>
                  <label contenteditable="true" spellcheck="true" #sgpa [textContent]="coreDataService.templateData.educationInfo[i].gpa" (blur)="coreDataService.templateData.educationInfo[i].gpa = sgpa.innerText" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 2)+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="GPA, some subject">{{eduInfo.gpa}}</label><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': skillsMargin + 'px'}" *ngIf="coreDataService.templateData.skills" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 5px 6px 5px 10px;"><i class="fa fa-puzzle-piece" aria-hidden="true" style="color: white;font-size: 20px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Skills</label>
          </div>
          <div fxFlex="35%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveSkills('top')" [ngClass]="{'temp-move-opacity': skillsMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveSkills('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" class="margin-top-15" *ngIf="coreDataService.templateData.skills">
          <div fxFlex="30%" fxLayoutAlign="left" class="margin-top-10"></div>
          <div fxFlex="70%">
            <div fxLayout="row" *ngFor="let techSkills of coreDataService.templateData.technicalSkills; let i = index">
              <div fxFlex="55%">
                <label  style="margin-top: 7px" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="true" spellcheck="true" #lngLang [textContent]="coreDataService.templateData.technicalSkills[i].skill" (blur)="coreDataService.templateData.technicalSkills[i].skill = lngLang.innerText" placeholder="New Skills">{{techSkills.skill}}</label></label>
              </div>
              <div fxFlex="30%" fxLayoutAlign="end">
                <div class="star-rating">
                  <input type="radio" [id]="'5-starstech-'+i" [name]="'tech'+i" value="5" [(ngModel)]="techSkills.rate"/>
                  <label [for]="'5-starstech-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'4-starstech-'+i" [name]="'tech'+i" value="4" [(ngModel)]="techSkills.rate"/>
                  <label [for]="'4-starstech-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'3-starstech-'+i" [name]="'tech'+i" value="3" [(ngModel)]="techSkills.rate"/>
                  <label [for]="'3-starstech-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'2-starstech-'+i" [name]="'tech'+i" value="2" [(ngModel)]="techSkills.rate"/>
                  <label [for]="'2-starstech-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'1-starstech-'+i" [name]="'tech'+i" value="1" [(ngModel)]="techSkills.rate"/>
                  <label [for]="'1-starstech-'+i" class="star">&#x25a0;</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': techMargin + 'px'}" *ngIf="coreDataService.templateData.tech" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 8px 8px 5px 8px;"> <i class="fa fa-desktop" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Software</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveTechSkills('top')" [ngClass]="{'temp-move-opacity': techMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveTechSkills('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row"  style="margin-top: 10px;" *ngIf="coreDataService.templateData.tech">
          <div fxFlex="30%" fxLayoutAlign="left" class="margin-top-10"></div>
          <div fxFlex="70%">
            <div fxLayout="row" *ngFor="let compSkills of coreDataService.templateData.computerSkills; let i = index" class="margin-top-5">
              <div fxFlex="55%" fxLayoutAlign="left center">
                <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="true" spellcheck="true" #lngLang [textContent]="coreDataService.templateData.computerSkills[i].skill" (blur)="coreDataService.templateData.computerSkills[i].skill = lngLang.innerText" placeholder="New Skills">{{compSkills.skill}}</label></label>
              </div>
              <div fxFlex="30%" fxLayoutAlign="end" class="position-relative">
                <div class="star-rating">
                  <input type="radio" [id]="'5-starscomp-'+i" [name]="'cmp'+i" value="5" [(ngModel)]="compSkills.rate"/>
                  <label [for]="'5-starscomp-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'4-starscomp-'+i" [name]="'cmp'+i" value="4" [(ngModel)]="compSkills.rate"/>
                  <label [for]="'4-starscomp-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'3-starscomp-'+i" [name]="'cmp'+i" value="3" [(ngModel)]="compSkills.rate"/>
                  <label [for]="'3-starscomp-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'2-starscomp-'+i" [name]="'cmp'+i" value="2" [(ngModel)]="compSkills.rate"/>
                  <label [for]="'2-starscomp-'+i" class="star">&#x25a0;</label>
                  <input type="radio" [id]="'1-starscomp-'+i" [name]="'cmp'+i" value="1" [(ngModel)]="compSkills.rate"/>
                  <label [for]="'1-starscomp-'+i" class="star">&#x25a0;</label>
                </div>
                <div fxLayoutAlign="end" style="position:absolute; top: 27px;right: 8px">
                  <label *ngIf="compSkills.rate == 1" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Basic</label>
                  <label *ngIf="compSkills.rate == 2" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Average</label>
                  <label *ngIf="compSkills.rate == 3" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Good</label>
                  <label *ngIf="compSkills.rate == 4" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Very Good</label>
                  <label *ngIf="compSkills.rate == 5" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Excellent</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': langMargin + 'px'}" *ngIf="coreDataService.templateData.language" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 8px 8px 5px 8px;"><i class="fa fa-flag" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Languages</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveLangSkills('top')" [ngClass]="{'temp-move-opacity': langMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveLangSkills('bottom')"></i>
            </label>
          </div>
        </div>
        <div *ngIf="coreDataService.templateData.language" style="margin-top: 10px;">
          <div fxLayout="row">
            <div fxFlex="30%"></div>
            <div fxFlex="70%">
              <div fxLayout="row" *ngFor="let langSkills of coreDataService.templateData.knownLanguage; let i = index" class="margin-top-5">
                <div fxFlex="55%" fxLayoutAlign="left center">
                  <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="true" spellcheck="true" #lngLang [textContent]="coreDataService.templateData.knownLanguage[i].skill" (blur)="coreDataService.templateData.knownLanguage[i].skill = lngLang.innerText" placeholder="New Language">{{langSkills.skill}}</label></label>
                </div>
                <div fxFlex="30%" fxLayoutAlign="end" class="position-relative">
                  <div class="star-rating">
                    <input type="radio" [id]="'5-starslng-'+i" [name]="'lang'+i" value="5" [(ngModel)]="langSkills.rate"/>
                    <label [for]="'5-starslng-'+i" class="star">&#x25a0;</label>
                    <input type="radio" [id]="'4-starslng-'+i" [name]="'lang'+i" value="4" [(ngModel)]="langSkills.rate"/>
                    <label [for]="'4-starslng-'+i" class="star">&#x25a0;</label>
                    <input type="radio" [id]="'3-starslng-'+i" [name]="'lang'+i" value="3" [(ngModel)]="langSkills.rate"/>
                    <label [for]="'3-starslng-'+i" class="star">&#x25a0;</label>
                    <input type="radio" [id]="'2-starslng-'+i" [name]="'lang'+i" value="2" [(ngModel)]="langSkills.rate"/>
                    <label [for]="'2-starslng-'+i" class="star">&#x25a0;</label>
                    <input type="radio" [id]="'1-starslng-'+i" [name]="'lang'+i" value="1" [(ngModel)]="langSkills.rate"/>
                    <label [for]="'1-starslng-'+i" class="star">&#x25a0;</label>
                  </div>
                  <div fxLayoutAlign="end" style="position:absolute; top: 27px;right: 8px">
                    <label *ngIf="langSkills.rate == 1" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Beginner</label>
                    <label *ngIf="langSkills.rate == 2" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Intermediate</label>
                    <label *ngIf="langSkills.rate == 3" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Advanced</label>
                    <label *ngIf="langSkills.rate == 4" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Fluent</label>
                    <label *ngIf="langSkills.rate == 5" class="font-size-12" [ngStyle]="{'font-family': coreDataService.templateData.fontFamily}">Native</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': certificateMargin + 'px'}" *ngIf="coreDataService.templateData.certifications" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-certificate" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Certifications</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveCertificates('top')" [ngClass]="{'temp-move-opacity': certificateMargin == 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveCertificates('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let certifiInfo of coreDataService.templateData.certificates; let i = index" class="margin-top-15">
              <div fxFlex="30%">
                <label contenteditable="true" spellcheck="true" #cfyear [textContent]="coreDataService.templateData.certificates[i].year" (blur)="coreDataService.templateData.certificates[i].year = cfyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15" placeholder="Year">{{certifiInfo.year}}</label>
              </div>
              <div fxFlex="70%">
                <div>
                  <label contenteditable="true" spellcheck="true" #cfname [textContent]="coreDataService.templateData.certificates[i].certificateName" (blur)="coreDataService.templateData.certificates[i].certificateName = cfname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" maxlength="50" placeholder="Areas of certification relevant to the position">{{certifiInfo.certificateName}}</label><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': honorMargin + 'px'}" *ngIf="coreDataService.templateData.honorReward" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-trophy" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Honors & Awards</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveHonor('top')" [ngClass]="{'temp-move-opacity': honorMargin== 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveHonor('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let rewardInfo of coreDataService.templateData.honorAwardInfo; let i = index" class="margin-top-15">
              <div fxFlex="30%">
                <label contenteditable="true" spellcheck="true" #rwyear [textContent]="coreDataService.templateData.honorAwardInfo[i].year" (blur)="coreDataService.templateData.honorAwardInfo[i].year = rwyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15" placeholder="Year">{{rewardInfo.year}}</label>
              </div>
              <div fxFlex="70%">
                <div>
                  <label contenteditable="true" spellcheck="true" #rwname [textContent]="coreDataService.templateData.honorAwardInfo[i].award" (blur)="coreDataService.templateData.honorAwardInfo[i].award = rwname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}"  maxlength="50" placeholder="Sample award's title">{{rewardInfo.award}}</label><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': interestMargin + 'px'}" *ngIf="coreDataService.templateData.interest" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-thumbs-up" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Interests</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveInterest('top')" [ngClass]="{'temp-move-opacity': interestMargin== 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveInterest('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.interest" style="padding-left: 15px;padding-top:10px">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let interest of coreDataService.templateData.interestOn; let i = index">
              <div fxFlex="100%" style="margin-top:5px;margin-bottom:5px;padding-left: 17px" style="margin-top: 7px;" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15">
                <span>&#x25CB;</span>&nbsp;
                <label contenteditable="true" spellcheck="true" #intst [textContent]="coreDataService.templateData.interestOn[i]" (blur)="coreDataService.templateData.interestOn[i] = intst.innerText" placeholder="New Interest">{{interest}}</label>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px" [ngStyle]="{'margin-top': activityMargin + 'px'}" *ngIf="coreDataService.templateData.activities" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-tasks" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Activities</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveActivity('top')" [ngClass]="{'temp-move-opacity': activityMargin== 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveActivity('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.activities">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let activityInfo of coreDataService.templateData.activitiesInfo; let i = index" class="margin-top-15">
              <div fxFlex="30%">
                <label contenteditable="true" spellcheck="true" #year [textContent]="coreDataService.templateData.activitiesInfo[i].year" (blur)="coreDataService.templateData.activitiesInfo[i].year = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15" placeholder="Year">{{activityInfo.year}}</label>
              </div>
              <div fxFlex="60%">
                <div>
                  <label contenteditable="true" spellcheck="true" #cname [textContent]="coreDataService.templateData.activitiesInfo[i].role" (blur)="coreDataService.templateData.activitiesInfo[i].role = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Sample Position">{{activityInfo.role}}</label><br/>
                </div>
                <div>
                  <label contenteditable="true" spellcheck="true" #crole [textContent]="coreDataService.templateData.activitiesInfo[i].place" (blur)="coreDataService.templateData.activitiesInfo[i].place = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="ACTIVITY ORGANIZATION">{{activityInfo.place}}</label><br/>
                </div>
                <div *ngFor="let summary of coreDataService.templateData.activitiesInfo[i].summary; let k = index" class="margin-top-5" fxLayout="row">
                  <div fxFlex="3%"><label>-</label></div>
                  <div fxFlex="97%">
                    <label contenteditable="true" spellcheck="true" [ngStyle]="{'font-size':  (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.activitiesInfo[i].summary[k]" (blur)="coreDataService.templateData.activitiesInfo[i].summary[k] = csumm.innerText" placeholder="Sample activities description">{{summary}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': additionalInfoMargin + 'px'}" *ngIf="coreDataService.templateData.additionalInfo" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-info-circle" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Additional Information</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveAdditionalInfo('top')" [ngClass]="{'temp-move-opacity': additionalInfoMargin== 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveAdditionalInfo('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.additionalInfo" style="padding-left: 15px;margin-top:10px">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let addInfo of coreDataService.templateData.additionalInfoDetails; let i = index" class="margin-top-15">
                <div fxFlex="3%"><label>-</label></div>
                <div fxFlex="97%">
                  <label contenteditable="true" spellcheck="true" #adInfo [textContent]="coreDataService.templateData.additionalInfoDetails[i]" (blur)="coreDataService.templateData.additionalInfoDetails[i] = adInfo.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="Sample additional info">{{addInfo}}</label>
                </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="padding-left: 15px;" [ngStyle]="{'margin-top': referenceMargin + 'px'}" *ngIf="coreDataService.templateData.reference" class="temp">
          <div fxFlex="80%" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}" fxLayoutAlign="left center">
            <span [ngStyle]="{'background': coreDataService.templateData.templateTheme}" style="padding: 7px 9px 4px 9px;"><i class="fa fa-user-circle" aria-hidden="true" style="color: white;font-size: 18px"></i></span>&nbsp;
            <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color m-b-0 font-weight-bold">Reference</label>
          </div>
          <div fxFlex="19%" fxLayoutAlign="end" class="position-relative" [ngStyle]="{'border-bottom': '1px solid ' + coreDataService.templateData.templateTheme}">
            <label class="temp-move">
              <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveReference('top')" [ngClass]="{'temp-move-opacity': referenceMargin== 20}"></i>&nbsp;&nbsp;
              <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveReference('bottom')"></i>
            </label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.reference" style="padding-left: 15px;margin-top:10px">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let refInfo of coreDataService.templateData.referenceDetails; let i = index" class="margin-top-10">
              <div fxFlex="3%"><label>-</label></div>
              <div fxFlex="97%">
                <label contenteditable="true" spellcheck="true" #refsInfo [textContent]="coreDataService.templateData.referenceDetails[i]" (blur)="coreDataService.templateData.referenceDetails[i] = refsInfo.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="Reference's content">{{refInfo}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
