@media screen and (min-width: 1900px ){ // xl screen
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 590px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .header-top-height {
    padding-top: 120px;
    background: #1f2641;
  }
  .margin-top-150 {
    margin-top: 100px;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: transparent;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: none;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 0 15px 3px #8c8c8c59;
  }
  .header-font {
    margin-top: 400px;
    font-size: 40px;
    padding-left: 50px;
    padding-right: 40px;
    font-weight: 600;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    height: 400px;
    z-index: 1000;
    opacity: 0.9;
  }
  .sub-header-font{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1024px ) and (max-width: 1900px){ // desktop
  .header-top-height {
    padding-top: 120px;
    background: #1f2641;
  }
  .margin-top-150 {
    margin-top: 100px;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: transparent;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: none;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 0 15px 3px #8c8c8c59;
  }
  .header-font {
    margin-top: 400px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 40px;
    font-weight: 600;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    height: 350px;
    z-index: 1000;
    opacity: 0.9;
  }
  .sub-header-font{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 40px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) { // pixels XL, Iphones
  .header-top-height {
    padding-top: 120px;
    background: #1f2641;
  }
  .margin-top-150 {
    margin-top: 20px;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: none;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 0 15px 3px #8c8c8c59;
  }
  .header-font {
    margin-top: 400px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 40px;
    font-weight: 600;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    height: 350px;
    z-index: 1000;
    opacity: 0.9;
  }
  .sub-header-font{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 40px;
  }
  .mat-nav-list {
    width: 350px;
    padding-top: 90px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}

@media screen and (min-width: 260px) and (max-width: 374px) {   // iphone xs, moto
  .header-top-height {
    padding-top: 120px;
    background: #1f2641;
  }
  .margin-top-150 {
    margin-top: 20px;
  }
  .intro-toolbar.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: none;
  }
  .intro-toolbar1.mat-toolbar {
    position: fixed;
    top: 0%;
    background: white;
    z-index: 20;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #292929;
    box-shadow: 0 0 15px 3px #8c8c8c59;
  }
  .header-font {
    margin-top: 400px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 40px;
    font-weight: 600;
  }
  .home-art-work{
    padding-left: 10px;
    padding-right: 40px;
    height: 350px;
    z-index: 1000;
    opacity: 0.9;
  }
  .sub-header-font{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 40px;
  }
  .mat-nav-list {
    width: 350px;
    padding-top: 90px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){ //ipad
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}
.top-nav-banner-img {
  position: absolute;
  right: 0;
  width: 100%;
}
p {
  color: #4d5a70;
  line-height: 1.4;
}
h2{
  color: #202960;
}
.font-size-15{
  font-size: 15px;
}
.mat-sidenav-content {
  background: white;
}
