.login-border-none {
  border: none;
}
.login-page-height {
  height: 100vh;
}
.login-bg{
  background-image: url("/assets/images/resume-tips.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.login-label{
  margin-bottom: 20px;
  font-size: 18px;
}
.login-btn {
  width: 45%;
  margin-top: 10px;
}
.margin-top-12{
  margin-top: 12px;
}
.margin-top-5{
  margin-top: 5px;
}
.login-error{
  font-size: 13px;
  color: #ff5959;
}
.display-none{
  display: none;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: 40%;
  left: 49%;
  background: #2980b9;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@media screen and (min-width: 1024px){
  .login-banner {
    height: 100vh;
    width: 100%;
    background: #1f2641;
  }
  .top-nav-banner-img {
    position: absolute;
    left: 0;
    width: 50%;
  }
  .resume-shape-img {
    position: absolute;
    width: 50%;
    height: 250px;
    top: 10px;
  }
  .benifits-bg {
    position: absolute;
    width: 50%;
    height: 700px;
    top: 100px;
  }
  .resume-tip-bg{
    position: absolute;
    width: 50%;
    height: 350px;
    top: 450px;
    opacity: .7;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    object-fit: cover;
  }
  .benifits-bg-mob {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100px;
    object-fit: cover;
  }
  .resume-tip-bg-mob{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 640px;
  }
}
@media screen and (min-width: 260px) and (max-width: 375px) {
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0px;
    object-fit: cover;
  }
  .benifits-bg-mob {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100px;
    object-fit: cover;
  }
  .resume-tip-bg-mob{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 480px;
  }
}
.outline-none{
  outline: 0;
  text-decoration: none;
}
.welcome-label{
  position: absolute;
  top: 250px;
  font-size: 28px;
  color: white;
}
.welcome-desc-label{
  position: absolute;
  top: 300px;
  font-size: 17px;
  color: #aab2cd;
  width: 340px;
  text-align: center;
}
