<div style="margin: auto; max-width: 500px; padding: 20px; text-align: center;">
  <form id="form">
    <button id="checkout">Use Checkout</button>
    <div id="payment-request-button">
      <!-- Payment button gets injected here -->
    </div>
    <div>Pay with card</div>
    <div id="card-element">
      <!-- Stripe card inputs get injected here -->
    </div>
    <button type="submit">Donate $5 USD</button>
    <div id="error" style="color: #e25950;"></div>
  </form>

  <div id="processing" style="display: none;">processing...</div>
  <div id="thanks" style="display: none;">Thanks for your donation!</div>
</div>
