.theme-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  &-theme {
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.color {
  height: 20px;
  width: 20px;
  margin: 4px;
  border-radius: 50px;
  cursor: pointer;
}
.sidebar-img {
  height: 250px;
  width: 92%;
}
.sd-content{
  height: 80vh;
  overflow: scroll;
  padding: 0 15px;
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.mat-menu-panel.glcs-note-widget {
  max-width:none;
  width: 365px;
  max-height: 360px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.margin-top-10{
  margin-top: 10px;
}
.font-size-ui{
  padding: 8px 11px;
  background: darkgray;
  color: white;
  border-radius: 50px;
}
.mat-menu-msg{
  padding: 10px;
}
.section-mat-card{
  background: #efefef;
}
.sub-section-mat-card{
  padding: 8px 14px;
}
mat-toolbar {
  background: #f9f9f9;
  z-index: 9990;
  border-left: none!important;
  border-top: none!important;
  border-right: none!important;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.summary-word-elipsis {
  white-space: nowrap;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 35px;
}
.feature-container {
  height: 75vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}
.selected-temp {
  border: 2px solid #4051b5;
}
.mat-card.padding-0{
  padding: 0px;
  margin-left: 10px;
}
.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}
.container:hover {

}
.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3f51b5;
  color: white;
  font-size: 12px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  z-index: 10;
}
.info-icon-position {
  color: #3f51b5;
  position: relative;
  top: 0px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}
@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
