mat-toolbar {
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
}
.font-size-15{
  font-size: 15px;
}
mat-toolbar {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}
.container:hover {

}
.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 20px;
  z-index: 10;
}
.mat-card-shadow {
  border: 1px solid #b5b5b5;
}
