.signup-border-none {
  border: none;
}
.signup-page-height {
  height: 96vh;
}
.signup-bg{
  background-image: url("/assets/images/resume-tips.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.signup-label{
  margin-bottom: 20px;
  font-size: 18px;
}
.signup-btn {
  width: 50%;
  margin-top: 10px;
}
.margin-top-12{
  margin-top: 12px;
}
.margin-top-5{
  margin-top: 5px;
}
.color-red {
  color: red;
}
.signup-padding-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.signup-margin-top-15{
  margin-top: 15px;
}
.signup-margin-top-25{
  margin-top: 25px;
}
.signup-error{
  font-size: 13px;
  color: #ff5959;
}
@media screen and (min-width: 1024px){
  .login-banner {
    height: 100vh;
    width: 100%;
    background: #1f2641;
  }
  .top-nav-banner-img {
    position: absolute;
    left: 0;
    width: 50%;
  }
  .resume-shape-img {
    position: absolute;
    width: 50%;
    height: 250px;
    top: 10px;
  }
  .benifits-bg {
    position: absolute;
    width: 50%;
    height: 700px;
    top: 100px;
  }
  .resume-tip-bg{
    position: absolute;
    width: 50%;
    height: 350px;
    top: 450px;
    opacity: .7;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    object-fit: cover;
  }
  .benifits-bg-mob {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100px;
    object-fit: cover;
  }
  .resume-tip-bg-mob{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 640px;
  }
}
@media screen and (min-width: 260px) and (max-width: 374px) {
  .resume-shape-img {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0px;
    object-fit: cover;
  }
  .benifits-bg-mob {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100px;
    object-fit: cover;
  }
  .resume-tip-bg-mob{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 480px;
  }
}
.outline-none{
  outline: 0;
  text-decoration: none;
}
.welcome-label{
  position: absolute;
  top: 250px;
  font-size: 28px;
  color: white;
}
.welcome-desc-label{
  position: absolute;
  top: 300px;
  font-size: 17px;
  color: #aab2cd;
  width: 340px;
  text-align: center;
}
