<div fxLayout="row">
  <mat-card fxFlex="100%" [ngStyle]="{'height':pageHeight}" class="custom-shadow-temp">
    <div class="page-break-1" *ngIf="pageType!='single' && !coreDataService.hideSeparater"></div>
    <div class="temp-padding-inside">
    <div fxLayout="row">
      <div fxFlex="40%" style="margin-left: 15px">
        <div fxLayout="row">
          <div fxFlex="100%">
            <label #title [textContent]="coreDataService.templateData.title" (blur)="coreDataService.templateData.title = title.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.titleSize+'px', 'color': coreDataService.templateData.templateTheme, 'font-family': coreDataService.templateData.fontFamily}" placeholder="Full Name">{{coreDataService.templateData.title}}</label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.role != null && coreDataService.templateData.role != ''">
          <div fxFlex="100%">
            <label #role contenteditable="false" spellcheck="true" [textContent]="coreDataService.templateData.role" (blur)="coreDataService.templateData.role = role.innerText" [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'color': coreDataService.templateData.templateTheme, 'font-family': coreDataService.templateData.fontFamily}" placeholder="Job's Title">{{coreDataService.templateData.role}}</label>
          </div>
        </div>
      </div>
      <div fxFlex="60%">
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Email:</label>
            <label #email [textContent]="coreDataService.templateData.email" (blur)="coreDataService.templateData.email = email.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 48px;" placeholder="johndoe@gmail.com">{{coreDataService.templateData.email}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Phone:</label>
            <label #phone [textContent]="coreDataService.templateData.phone" (blur)="coreDataService.templateData.phone = phone.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 40px;" placeholder="1234567890">{{coreDataService.templateData.phone}}</label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.address != null && coreDataService.templateData.address != ''">
          <div fxFlex="12.5%" class="margin-top-5">
            <label [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Address:</label>
          </div>
          <div fxFlex="85%" class="margin-top-5">
            <label #address [textContent]="coreDataService.templateData.address" (blur)="coreDataService.templateData.address = address.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 30px;" placeholder="Your Address">{{coreDataService.templateData.address}}</label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.linkedIn != null && coreDataService.templateData.linkedIn != ''">
          <div fxFlex="12.5%" class="margin-top-5">
            <label [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">LinkedIn:</label>
          </div>
          <div fxFlex="85%" class="margin-top-5" style="margin-left: 30px;">
            <label #linkedIn [textContent]="coreDataService.templateData.linkedIn" (blur)="coreDataService.templateData.linkedIn = linkedIn.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" placeholder="LinkedIn">{{coreDataService.templateData.linkedIn}}</label>
          </div>
        </div>
        <div fxLayout="row" *ngIf="coreDataService.templateData.gitHub != null && coreDataService.templateData.gitHub != ''">
          <div fxFlex="12.5%" class="margin-top-5">
            <label [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">GitHub:</label>
          </div>
          <div fxFlex="85%" class="margin-top-5" style="margin-left: 30px;">
            <label #git [textContent]="coreDataService.templateData.gitHub" (blur)="coreDataService.templateData.gitHub = git.innerText" contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" placeholder="Git link">{{coreDataService.templateData.gitHub}}</label>
          </div>
        </div>
      </div>
    </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': summaryMargin + 'px'}" *ngIf="coreDataService.templateData.objective" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">SUMMARY</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveSummary('top')" [ngClass]="{'temp-move-opacity': summaryMargin == 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveSummary('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
        <div fxFlex="97%" style="margin-left:16px;">
          <label #objectiveMsg [textContent]="coreDataService.templateData.objectiveMsg" (blur)="coreDataService.templateData.objectiveMsg = objectiveMsg.innerText"  contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="line-height-1-4" placeholder="Fill in your Career’s Objective">{{coreDataService.templateData.objectiveMsg}}</label>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': workExpMargin + 'px'}" *ngIf="coreDataService.templateData.workExp" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">WORK EXPERIENCE</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveWorkExp('top')" [ngClass]="{'temp-move-opacity': workExpMargin == 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveWorkExp('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let companyInfo of coreDataService.templateData.companyInfo; let i = index" class="margin-top-15">
              <div fxFlex="40%">
                <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.companyInfo[i].workFromTo" (blur)="coreDataService.templateData.companyInfo[i].workFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="From - To/Present">{{companyInfo.workFromTo}}</label>
              </div>
              <div fxFlex="60%">
                <div>
                  <label contenteditable="false" spellcheck="true" #cname [textContent]="coreDataService.templateData.companyInfo[i].companyName" (blur)="coreDataService.templateData.companyInfo[i].companyName = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Name of your company">{{companyInfo.companyName}}</label><br/>
                </div>
               <div>
                 <label contenteditable="false" spellcheck="true" #crole [textContent]="coreDataService.templateData.companyInfo[i].role" (blur)="coreDataService.templateData.companyInfo[i].role = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="Job position">{{companyInfo.role}}</label><br/>
               </div>
                <div *ngFor="let summary of coreDataService.templateData.companyInfo[i].details; let k = index" class="margin-top-5">
                  <div fxFlex="3%"><label>-</label></div>
                  <div fxFlex="97%">
                    <label contenteditable="false" spellcheck="true" [ngStyle]="{'font-size': (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.companyInfo[i].details[k]" (blur)="coreDataService.templateData.companyInfo[i].details[k] = csumm.innerText" placeholder="Job's professional history, key experience and achievements" class="line-height-1-4 text-color-gray">{{summary}}</label><br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': educationMargin + 'px'}" *ngIf="coreDataService.templateData.education" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">EDUCATION</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveEducation('top')" [ngClass]="{'temp-move-opacity': educationMargin == 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveEducation('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.education">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.education">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let eduInfo of coreDataService.templateData.educationInfo; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.educationInfo[i].yearFromTo" (blur)="coreDataService.templateData.educationInfo[i].yearFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="From - To/Present">{{eduInfo.yearFromTo}}</label>
            </div>
            <div fxFlex="60%" style="line-height: 1.4">
              <div>
                <label contenteditable="false" spellcheck="true" #sname [textContent]="coreDataService.templateData.educationInfo[i].schoolName" (blur)="coreDataService.templateData.educationInfo[i].schoolName = sname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Full name of University/Organization">{{eduInfo.schoolName}}</label><br/>
              </div>
              <div>
                <label contenteditable="false" spellcheck="true" #sdept [textContent]="coreDataService.templateData.educationInfo[i].department" (blur)="coreDataService.templateData.educationInfo[i].department = sdept.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="Your major/Name of your course">{{eduInfo.department}}</label><br/>
              </div>
              <div *ngIf="eduInfo.gpa!=null && eduInfo.gpa!=''">
                <label contenteditable="false" spellcheck="true" #sgpa [textContent]="coreDataService.templateData.educationInfo[i].gpa" (blur)="coreDataService.templateData.educationInfo[i].gpa = sgpa.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="GPA, some subject" class="text-color-gray">{{eduInfo.gpa}}</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': skillsMargin + 'px'}" *ngIf="coreDataService.templateData.skills || coreDataService.templateData.tech || coreDataService.templateData.language" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">SKILLS</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveSkills('top')" [ngClass]="{'temp-move-opacity': skillsMargin == 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveSkills('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.skills || coreDataService.templateData.tech || coreDataService.templateData.language">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row" *ngIf="coreDataService.templateData.language">
            <div fxFlex="40%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray">Language</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label *ngFor="let language of coreDataService.templateData.knownLanguage; let i = index" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="false" spellcheck="true" #knwnLang [textContent]="coreDataService.templateData.knownLanguage[i].skill" (blur)="coreDataService.templateData.knownLanguage[i].skill = knwnLang.innerText" placeholder="New Language">{{language.skill}}</label><span *ngIf="i < coreDataService.templateData.knownLanguage.length-1">,&nbsp;</span></label>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" *ngIf="coreDataService.templateData.language">
            <div fxFlex="95%">
              <hr style="border: 0.5px solid #ececec;" />
            </div>
          </div>
          <div fxLayout="row" *ngIf="coreDataService.templateData.tech">
            <div fxFlex="40%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray">Software</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label *ngFor="let csSkills of coreDataService.templateData.computerSkills; let i = index" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="false" spellcheck="true" #csLang [textContent]="coreDataService.templateData.computerSkills[i].skill" (blur)="coreDataService.templateData.computerSkills[i].skill = csLang.innerText" placeholder="New Skills">{{csSkills.skill}}</label><span *ngIf="i < coreDataService.templateData.computerSkills.length-1">,&nbsp;</span></label>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" *ngIf="coreDataService.templateData.tech">
            <div fxFlex="95%">
              <hr style="border: 0.5px solid #ececec;" />
            </div>
          </div>
          <div fxLayout="row"  *ngIf="coreDataService.templateData.skills">
            <div fxFlex="40%">
              <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray">Programming Languages</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label *ngFor="let techSkills of coreDataService.templateData.technicalSkills; let i = index" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15"><label contenteditable="false" spellcheck="true" #csLang [textContent]="coreDataService.templateData.technicalSkills[i].skill" (blur)="coreDataService.templateData.technicalSkills[i].skill = csLang.innerText" placeholder="New Skills">{{techSkills.skill}}</label><span *ngIf="i < coreDataService.templateData.technicalSkills.length-1">,&nbsp;</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': certificateMargin + 'px'}" *ngIf="coreDataService.templateData.certifications" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">CERTIFICATIONS</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveCertificates('top')" [ngClass]="{'temp-move-opacity': certificateMargin == 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveCertificates('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let certifiInfo of coreDataService.templateData.certificates; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="false" spellcheck="true" #cfyear [textContent]="coreDataService.templateData.certificates[i].year" (blur)="coreDataService.templateData.certificates[i].year = cfyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="Year">{{certifiInfo.year}}</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label contenteditable="false" spellcheck="true" #cfname [textContent]="coreDataService.templateData.certificates[i].certificateName" (blur)="coreDataService.templateData.certificates[i].certificateName = cfname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" maxlength="50" placeholder="Areas of certification relevant to the position">{{certifiInfo.certificateName}}</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': honorMargin + 'px'}" *ngIf="coreDataService.templateData.honorReward" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">HONORS & AWARDS</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveHonor('top')" [ngClass]="{'temp-move-opacity': honorMargin== 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveHonor('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let rewardInfo of coreDataService.templateData.honorAwardInfo; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="false" spellcheck="true" #rwyear [textContent]="coreDataService.templateData.honorAwardInfo[i].year" (blur)="coreDataService.templateData.honorAwardInfo[i].year = rwyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="Year">{{rewardInfo.year}}</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label contenteditable="false" spellcheck="true" #rwname [textContent]="coreDataService.templateData.honorAwardInfo[i].award" (blur)="coreDataService.templateData.honorAwardInfo[i].award = rwname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}"  maxlength="50" placeholder="Sample award's title">{{rewardInfo.award}}</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': interestMargin + 'px'}" *ngIf="coreDataService.templateData.interest" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">INTERESTS</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveInterest('top')" [ngClass]="{'temp-move-opacity': interestMargin== 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveInterest('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.interest">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.interest" style="margin-left: 15px">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let interest of coreDataService.templateData.interestOn; let i = index" class="margin-top-5">
            <div fxFlex="3%">
              <label>-</label>
            </div>
            <div fxFlex="97%">
             <label contenteditable="false" spellcheck="true" #intst [textContent]="coreDataService.templateData.interestOn[i]" (blur)="coreDataService.templateData.interestOn[i] = intst.innerText" placeholder="New Interest">{{interest}}</label>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': activityMargin + 'px'}" *ngIf="coreDataService.templateData.activities" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">ACTIVITIES</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveActivity('top')" [ngClass]="{'temp-move-opacity': activityMargin== 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveActivity('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.activities">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.activities">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let activityInfo of coreDataService.templateData.activitiesInfo; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="false" spellcheck="true" #year [textContent]="coreDataService.templateData.activitiesInfo[i].year" (blur)="coreDataService.templateData.activitiesInfo[i].year = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15 text-color-gray" placeholder="Year">{{activityInfo.year}}</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label contenteditable="false" spellcheck="true" #cname [textContent]="coreDataService.templateData.activitiesInfo[i].role" (blur)="coreDataService.templateData.activitiesInfo[i].role = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50" placeholder="Sample Position">{{activityInfo.role}}</label><br/>
              </div>
              <div>
                <label contenteditable="false" spellcheck="true" #crole [textContent]="coreDataService.templateData.activitiesInfo[i].place" (blur)="coreDataService.templateData.activitiesInfo[i].place = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" placeholder="ACTIVITY ORGANIZATION">{{activityInfo.place}}</label><br/>
              </div>
              <div *ngFor="let summary of coreDataService.templateData.activitiesInfo[i].summary; let k = index" class="margin-top-5" fxLayout="row">
                <div fxFlex="3%"><label>-</label></div>
                <div fxFlex="97%">
                  <label contenteditable="false" spellcheck="true" [ngStyle]="{'font-size':  (coreDataService.templateData.normalSize - 1)+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.activitiesInfo[i].summary[k]" (blur)="coreDataService.templateData.activitiesInfo[i].summary[k] = csumm.innerText" placeholder="Sample activities description" class="text-color-gray">{{summary}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': additionalInfoMargin + 'px'}" *ngIf="coreDataService.templateData.additionalInfo" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">ADDITIONAL INFORMATION</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveAdditionalInfo('top')" [ngClass]="{'temp-move-opacity': additionalInfoMargin== 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveAdditionalInfo('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.additionalInfo">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.additionalInfo" style="margin-left: 15px;">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let addInfo of coreDataService.templateData.additionalInfoDetails; let i = index" class="margin-top-15">
            <div fxFlex="3%"><label>-</label></div>
            <div fxFlex="97%">
              <label contenteditable="false" spellcheck="true" #adInfo [textContent]="coreDataService.templateData.additionalInfoDetails[i]" (blur)="coreDataService.templateData.additionalInfoDetails[i] = adInfo.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="Sample additional info">{{addInfo}}</label>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" [ngStyle]="{'margin-top': referenceMargin + 'px'}" *ngIf="coreDataService.templateData.reference" class="temp">
        <div fxFlex="80%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">REFERENCE</label>
        </div>
        <div fxFlex="15%" fxLayoutAlign="end" class="position-relative">
          <label class="temp-move">
            <i class="fa fa-arrow-circle-up mat-primary fa-arrow" (click)="moveReference('top')" [ngClass]="{'temp-move-opacity': referenceMargin== 15}"></i>&nbsp;&nbsp;
            <i class="fa fa-arrow-circle-down mat-primary fa-arrow" (click)="moveReference('bottom')"></i>
          </label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.reference">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.reference" style="margin-left: 15px;">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let refInfo of coreDataService.templateData.referenceDetails; let i = index" class="margin-top-15">
            <div fxFlex="3%"><label>-</label></div>
            <div fxFlex="97%">
              <label contenteditable="false" spellcheck="true" #refsInfo [textContent]="coreDataService.templateData.referenceDetails[i]" (blur)="coreDataService.templateData.referenceDetails[i] = refsInfo.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-size-15" placeholder="Reference's content">{{refInfo}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
