<div fxLayout="row">
  <mat-card fxFlex="100%">
    <div class="temp-padding-inside">
    <div fxLayout="row">
      <div fxFlex="40%">
        <div fxLayout="row" *ngIf="coreDataService.templateData.isImageNeeded">
          <div fxFlex="100%" style="margin-left: 15px;">
            <app-file-upload *ngIf="coreDataService.templateData.image == null"></app-file-upload>
            <img *ngIf="coreDataService.templateData.image != null" [attr.src]="sanitize(coreDataService.templateData.image)" width="155px">
          </div>
        </div>
      </div>
      <div fxFlex="60%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <label #title [textContent]="coreDataService.templateData.title" (keyup)="coreDataService.templateData.title = title.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.titleSize+'px', 'color': coreDataService.templateData.templateTheme, 'font-family': coreDataService.templateData.fontFamily}">{{coreDataService.templateData.title}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%">
            <label #role contenteditable="true" [textContent]="coreDataService.templateData.role" (keyup)="coreDataService.templateData.role = role.innerText" [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'color': coreDataService.templateData.templateTheme, 'font-family': coreDataService.templateData.fontFamily}">{{coreDataService.templateData.role}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Date of birth:</label>
            <label #dob [textContent]="coreDataService.templateData.dob" (keyup)="coreDataService.templateData.dob = dob.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 5px;">{{coreDataService.templateData.dob}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Gender:</label>
            <label #gender [textContent]="coreDataService.templateData.gender" (keyup)="coreDataService.templateData.gender = gender.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 35px;">{{coreDataService.templateData.gender}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Phone:</label>
            <label #phone [textContent]="coreDataService.templateData.phone" (keyup)="coreDataService.templateData.phone = phone.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 40px;">{{coreDataService.templateData.phone}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Email:</label>
            <label #email [textContent]="coreDataService.templateData.email" (keyup)="coreDataService.templateData.email = email.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 48px;">{{coreDataService.templateData.email}}</label>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" class="margin-top-5">
            <label [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-left-color">Address:</label>
            <label #address [textContent]="coreDataService.templateData.address" (keyup)="coreDataService.templateData.address = address.innerText" contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="label-right-color" style="margin-left: 30px;">{{coreDataService.templateData.address}}</label>
          </div>
        </div>
      </div>
    </div>
      <div fxLayout="row" class="margin-top-15" *ngIf="coreDataService.templateData.objective">
        <div fxFlex="100%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">OBJECTIVE</label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.objective">
        <div fxFlex="97%" style="margin-left:16px;">
          <label #objectiveMsg [textContent]="coreDataService.templateData.objectiveMsg" (keyup)="coreDataService.templateData.objectiveMsg = objectiveMsg.innerText"  contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="line-height-20">{{coreDataService.templateData.objectiveMsg}}</label>
        </div>
      </div>
      <div fxLayout="row" class="margin-top-22" *ngIf="coreDataService.templateData.workExp">
        <div fxFlex="100%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">WORK EXPERIENCE</label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.workExp">
          <div fxFlex="100%">
            <div fxLayout="row" *ngFor="let companyInfo of coreDataService.templateData.companyInfo; let i = index" class="margin-top-15">
              <div fxFlex="40%">
                <label contenteditable="true" #year [textContent]="coreDataService.templateData.companyInfo[i].workFromTo" (keyup)="coreDataService.templateData.companyInfo[i].workFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15">{{companyInfo.workFromTo}}</label>
              </div>
              <div fxFlex="60%">
                <div>
                  <label contenteditable="true" #cname [textContent]="coreDataService.templateData.companyInfo[i].companyName" (keyup)="coreDataService.templateData.companyInfo[i].companyName = cname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50">{{companyInfo.companyName}}</label><br/>
                </div>
               <div>
                 <label contenteditable="true" #crole [textContent]="coreDataService.templateData.companyInfo[i].role" (keyup)="coreDataService.templateData.companyInfo[i].role = crole.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}">{{companyInfo.role}}</label><br/>
               </div>
                <div *ngFor="let summary of coreDataService.templateData.companyInfo[i].details; let k = index" class="margin-top-5">
                  <span>-</span>&nbsp;
                  <label contenteditable="true" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" #csumm [textContent]="coreDataService.templateData.companyInfo[i].details[k]" (blur)="coreDataService.templateData.companyInfo[i].details[k] = csumm.innerText">{{summary}}</label><br/>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div fxLayout="row" class="margin-top-22" *ngIf="coreDataService.templateData.education">
        <div fxFlex="100%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">EDUCATION</label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.education">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.education">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let eduInfo of coreDataService.templateData.educationInfo; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="true" #year [textContent]="coreDataService.templateData.educationInfo[i].yearFromTo" (keyup)="coreDataService.templateData.educationInfo[i].yearFromTo = year.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15">{{eduInfo.yearFromTo}}</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label contenteditable="true" #sname [textContent]="coreDataService.templateData.educationInfo[i].schoolName" (keyup)="coreDataService.templateData.educationInfo[i].schoolName = sname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50">{{eduInfo.schoolName}}</label><br/>
              </div>
              <div>
                <label contenteditable="true" #sdept [textContent]="coreDataService.templateData.educationInfo[i].department" (keyup)="coreDataService.templateData.educationInfo[i].department = sdept.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}">{{eduInfo.department}}</label><br/>
              </div>
              <div>
                <label contenteditable="true" #sgpa [textContent]="coreDataService.templateData.educationInfo[i].gpa" (keyup)="coreDataService.templateData.educationInfo[i].gpa = sgpa.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}">{{eduInfo.gpa}}</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="margin-top-22" *ngIf="coreDataService.templateData.certifications">
        <div fxFlex="100%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">CERTIFICATIONS</label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.certifications">
        <div fxFlex="100%">
          <div fxLayout="row" *ngFor="let certifiInfo of coreDataService.templateData.certificates; let i = index" class="margin-top-15">
            <div fxFlex="40%">
              <label contenteditable="true" #cfyear [textContent]="coreDataService.templateData.certificates[i].year" (keyup)="coreDataService.templateData.certificates[i].year = cfyear.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" style="margin-left: 15px;" class="font-size-15">{{certifiInfo.year}}</label>
            </div>
            <div fxFlex="60%">
              <div>
                <label contenteditable="true" #cfname [textContent]="coreDataService.templateData.certificates[i].certificateName" (keyup)="coreDataService.templateData.certificates[i].certificateName = cfname.innerText" [ngStyle]="{'font-size': coreDataService.templateData.normalSize+'px', 'font-family': coreDataService.templateData.fontFamily}" class="font-weight-bold" maxlength="50">{{certifiInfo.certificateName}}</label><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="margin-top-22" *ngIf="coreDataService.templateData.honorReward">
        <div fxFlex="100%">
          <label [ngStyle]="{'font-size': coreDataService.templateData.roleSize+'px', 'font-family': coreDataService.templateData.fontFamily, 'color': coreDataService.templateData.templateTheme}" class="label-right-color" style="margin-left: 15px;">HONOR & AWARDS</label>
        </div>
      </div>
      <div fxLayout="row" *ngIf="coreDataService.templateData.honorReward">
        <div fxFlex="97%">
          <hr class="hr-line" [ngStyle]="{'border-top': '2px solid '+coreDataService.templateData.templateTheme}" />
        </div>
      </div>
    </div>
  </mat-card>
</div>













<!--<div fxLayout="row">-->
<!--  <div fxFlex="20%"></div>-->
<!--  <mat-card fxFlex="60%">-->

<!--  </mat-card>-->
<!--  <div fxFlex="20%"></div>-->
<!--</div>-->
