.header-bg{
  background: lightgray;
  padding-top: 2px;
  padding-bottom: 2px;
}
.margin-top-30{
  margin-top: 30px;
}
.font-weight-500{
  font-weight: 520;
}
.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.6em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width: 50%;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#353f58;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #292929;
}
