/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/scss/material-override';
@import './assets/scss/global';
@import "./assets/scss/aos.scss";
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Work Sans, sans-serif;
  background: #ffffff;
  scrollbar-width: thin;
}

.paginated-view {
  > .page {
    margin: 0 auto;
    margin-bottom: 0.5cm;
  }
}
.page {
  display: block;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.A4 {
  width: 21cm;
  height: 29.4cm;
}

.A3{
  width: 842px;
  height: 1191px;
  padding: 10px 25px;
}
.text-color {
  color: #363D49;
}
